<!DOCTYPE html>
<html data-vivliostyle-paginated="true">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="apple-mobile-web-app-capable" content="yes"/>
<meta name="google" content="notranslate">
<title>Vivliostyle viewer</title>
<script src="https://wicg.github.io/visual-viewport/polyfill/visualViewport.js"></script>
<script src="resources/mathjax-config.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<% if (development) { %>
<script src="../node_modules/vivliostyle/src/vivliostyle.js"></script>
<script src="js/main-dev.js"></script>
<% } else { %>
<script src="js/main.js"></script>
<% } %>
<link rel="stylesheet" href="resources/vivliostyle-viewport.css"/>
<link rel="stylesheet" href="resources/vivliostyle-viewport-screen.css" media="screen"/>
<link rel="stylesheet" href="css/vivliostyle-viewer.css"/>
<link rel="stylesheet" href="css/ui.arrows.css"/>
<link rel="stylesheet" href="css/ui.menu-bar.css"/>
<link rel="stylesheet" href="css/ui.message-dialog.css"/>
<link rel="stylesheet" href="css/ui.loading-overlay.css"/>
<style id="vivliostyle-page-rules"></style>
</head>
<body data-vivliostyle-viewer-status="loading" data-bind="event: {keydown: handleKey}, attr: {'data-vivliostyle-viewer-status': viewer.state.status, 'aria-busy': viewer.state.status()=='loading'}">
<div id="vivliostyle-viewer-viewport" data-vivliostyle-viewer-viewport="true" role="main" tabindex="0" data-bind="attr: {'data-vivliostyle-page-progression': viewer.state.pageProgression}, click: navigation.onclickViewport, swipePages: true"></div>
<span role="button" id="vivliostyle-page-navigation-left" title="navigate to left" aria-keyshortcuts="ArrowLeft" data-bind="click: navigation.navigateToLeft, css: {'vivliostyle-menu-enabled': !navigation.isNavigateToLeftDisabled()}, attr: {'aria-disabled': navigation.isNavigateToLeftDisabled}"></span>
<span role="button" id="vivliostyle-page-navigation-right" title="navigate to right" aria-keyshortcuts="ArrowRight" data-bind="click: navigation.navigateToRight, css: {'vivliostyle-menu-enabled': !navigation.isNavigateToRightDisabled()}, attr: {'aria-disabled': navigation.isNavigateToRightDisabled}"></span>
<div id="vivliostyle-loading-overlay" data-bind="visible: !isDebug">
	<div class="vivliostyle-loading-spinner"></div>
</div>

<!-- MENU BAR -->
<div role="toolbar" id="vivliostyle-menu-bar">
	<ul class="vivliostyle-menu" id="vivliostyle-menu_misc">
		<li class="vivliostyle-menu-item" id="vivliostyle-menu-item_misc-toggle" data-bind="css: {'vivliostyle-menu-item_detail-opened': settingsPanel.opened, 'pinned': settingsPanel.pinned}"><span role="button" tabindex="0" class="vivliostyle-menu-icon-button" title="Settings (S)" aria-keyshortcuts="S" data-bind="menuButton: true, click: settingsPanel.toggle, attr: {'aria-pressed': settingsPanel.opened()?'true':'false', 'aria-expanded': settingsPanel.opened()?'true':'false'}"></span>
			<!-- MENU DETAIL -->
			<div role="dialog" aria-label="Settings Panel" class="vivliostyle-menu-detail" tabindex="0" aria-hidden="true" data-bind="attr: {'aria-hidden': !settingsPanel.opened()?'true':'false'}">
				<div class="vivliostyle-menu-detail-main">
					<div class="vivliostyle-menu-detail-group">
						<div class="vivliostyle-menu-detail-group-heading"><label><input type="checkbox" name="vivliostyle-misc_paginate" checked disabled /> <span>Paginate</span></label></div>
						<fieldset class="vivliostyle-menu-detail-group" data-bind="disable: settingsPanel.isPageViewModeChangeDisabled, visible: !settingsPanel.isPageViewModeChangeDisabled">
							<div class="vivliostyle-menu-detail-group-heading"><span>Page View Mode</span></div>
							<ul class="vivliostyle-menu-detail-group">
								<li><label><input type="radio" name="vivliostyle-misc_paginate_page-view-mode" value="autoSpread" required data-bind="checked: settingsPanel.state.pageViewMode" /> <span>Auto</span></label></li>
								<li><label><input type="radio" name="vivliostyle-misc_paginate_page-view-mode" value="singlePage" required data-bind="checked: settingsPanel.state.pageViewMode" /> <span>Single Page</span></label></li>
								<li><label><input type="radio" name="vivliostyle-misc_paginate_page-view-mode" value="spread" required data-bind="checked: settingsPanel.state.pageViewMode" /> <span>Spread</span></label></li>
							</ul>
						</fieldset>
						<fieldset class="vivliostyle-menu-detail-group" data-bind="disable: settingsPanel.isPageSizeChangeDisabled, visible: !settingsPanel.isPageSizeChangeDisabled">
							<div class="vivliostyle-menu-detail-group-heading"><span>Page Size</span></div>
							<ul class="vivliostyle-menu-detail-group">
								<li><label><input type="radio" name="vivliostyle-misc_paginate_page-size" value="auto" required data-bind="checked: settingsPanel.state.pageSize.mode" /> <span>Auto</span> <small>(Use entire window area)</small></label></li>
								<li><label><input type="radio" name="vivliostyle-misc_paginate_page-size" value="preset" required data-bind="checked: settingsPanel.state.pageSize.mode" /> <span>Preset</span></label>
									<small>
										<select name="vivliostyle-misc_paginate_page-size_preset-select" data-bind="foreach: settingsPanel.state.pageSize.PresetSize, value: settingsPanel.state.pageSize.presetSize">
											<option data-bind="value: $data, text: description"></option>
										</select>&#x2002;
										<label><input type="checkbox" name="vivliostyle-misc_paginate_page-size_preset-landscape" data-bind="checked: settingsPanel.state.pageSize.isLandscape" /> <span>Landscape</span></label>
									</small>
								</li>
								<li><label><input type="radio" name="vivliostyle-misc_paginate_page-size" value="custom" required data-bind="checked: settingsPanel.state.pageSize.mode" /> <span>Custom</span></label> -
									<small>
										<label>Width: <input type="text" name="vivliostyle-misc_paginate_page-size_custom-width" data-bind="textInput: settingsPanel.state.pageSize.customWidth" /></label> /
										<label>Height: <input type="text" name="vivliostyle-misc_paginate_page-size_custom-height" data-bind="textInput: settingsPanel.state.pageSize.customHeight" /></label>
									</small>
								</li>
							</ul>
						</fieldset>
					</div>
					<div class="vivliostyle-menu-detail-group" data-bind="visible: !settingsPanel.isPageSizeChangeDisabled">
						<div><label><input type="checkbox" name="vivliostyle-misc_paginate_override-document-stylesheets" aria-keyshortcuts="O" data-bind="checked: settingsPanel.state.pageSize.isImportant, disable: settingsPanel.isOverrideDocumentStyleSheetDisabled" /> <span>Override Document Style Sheets</span></label></div>
					</div>
					<div class="vivliostyle-menu-detail-group" data-bind="visible: !settingsPanel.isRenderAllPagesChangeDisabled">
						<div><label><input type="checkbox" name="vivliostyle-misc_render-all-pages" aria-keyshortcuts="R" data-bind="checked: settingsPanel.state.renderAllPages, disable: settingsPanel.isRenderAllPagesChangeDisabled" /> <span>Render All Pages</span> <small>(On: for Print, Off: for Read)</small></label></div>
					</div>
					<!--
					<div class="vivliostyle-menu-detail-group">
						<div class="vivliostyle-menu-detail-group-heading"><label><input type="checkbox" name="vivliostyle-misc_paginate_override-xxxx" /> <span>Menu-Detail Item</span> <small>(Sample)</small></label></div>
						<ul class="vivliostyle-menu-detail-group">
							<li><label><input type="radio" name="vivliostyle-misc_paginate_page-yyyy" value="vivliostyle-misc_paginate_page-yyyy-a" /> <span>Sample A</span> <small>(Abc De Fg.)</small></label></li>
							<li class="vivliostyle-menu-disabled"><label><input type="radio" name="vivliostyle-misc_paginate_page-yyyy" value="vivliostyle-misc_paginate_page-yyyy-b" disabled /> <span>Sample B</span></label>
								<ul class="vivliostyle-menu-detail-group">
									<li><label><input type="radio" name="vivliostyle-misc_paginate_page-yyyy" value="vivliostyle-misc_paginate_page-yyyy-c" disabled /> <span>Sample C</span></label></li>
								</ul>
							</li>
						</ul>
					</div>
					<div class="vivliostyle-menu-detail-group">
						<div class="vivliostyle-menu-detail-group-heading"><span>Menu-Detail Item</span> <small>(Sample)</small></div>
						<ul class="vivliostyle-menu-detail-group vivliostyle-menu-disabled">
							<li><label><input type="radio" name="vivliostyle-misc_paginate_page-yyyy" value="vivliostyle-misc_paginate_page-yyyy-d" disabled /> <span>Sample D</span> <small>(Abc De Fg.)</small></label></li>
						</ul>
					</div>
					<div class="vivliostyle-menu-detail-group">
						<div class="vivliostyle-menu-detail-group-heading"><label><input type="checkbox" name="vivliostyle-misc_paginate" /> <span>Paginate</span></label></div>
						<div class="vivliostyle-menu-detail-group vivliostyle-menu-disabled">
							<div><label><input type="checkbox" name="vivliostyle-misc_paginate_spread-view" disabled /> <span>Spread View</span></label></div>
						</div>
					</div>
					-->
					<div class="vivliostyle-menu-detail-group vivliostyle-menu-detail-group-buttons vivliostyle-menu-detail-group-inline">
						<div><button type="button" class="vivliostyle-menu-button vivliostyle-menu-button-positive" id="vivliostyle-menu-button_apply" aria-keyshortcuts="Enter" data-bind="menuButton: true, click: settingsPanel.apply">Apply</button></div>
						<div><button type="button" class="vivliostyle-menu-button vivliostyle-menu-button-negative" id="vivliostyle-menu-button_reset" aria-keyshortcuts="Escape" data-bind="menuButton: true, click: settingsPanel.reset">Cancel</button></div>
					</div>
				</div>
				<div class="vivliostyle-menu-detail-aside">
					<div><small>Powered by</small> <a href="https://vivliostyle.org"><strong>Vivliostyle</strong></a> </div>
					<div class="version"><small>(<span>Core: <%= versions.core %>,</span> <span>UI: <%= versions.ui%></span>)</small></div>
				</div>
			</div>
		</li>
	</ul>
	<ul class="vivliostyle-menu" id="vivliostyle-menu_toc" data-bind="visible: !navigation.hideTOCNavigation">
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_toc-toggle" data-bind="click: navigation.toggleTOC, css: {'vivliostyle-menu-disabled': navigation.isTOCToggleDisabled, 'on': viewer.tocVisible, 'pinned': viewer.tocPinned}"><span role="button" class="vivliostyle-menu-icon-button" title="Table of Contents (T)" aria-keyshortcuts="T" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isTOCToggleDisabled, 'aria-pressed': viewer.tocVisible()?'true':'false', 'tabindex': !navigation.isTOCToggleDisabled()?'0':false}"></span></li>
	</ul>
	<ul class="vivliostyle-menu" id="vivliostyle-menu_move" data-bind="visible: !navigation.hidePageNavigation">
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_move-first" data-bind="click: navigation.navigateToFirst, css: {'vivliostyle-menu-disabled': navigation.isNavigateToFirstDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="First Page (Home)" aria-keyshortcuts="Home Meta+ArrowUp" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isNavigateToFirstDisabled}"></span></li>
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_move-previous" data-bind="click: navigation.navigateToPrevious, css: {'vivliostyle-menu-disabled': navigation.isNavigateToPreviousDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Previous Page (↑)" aria-keyshortcuts="ArrowUp PageUp" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isNavigateToPreviousDisabled}"></span></li>
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_move-next" data-bind="click: navigation.navigateToNext, css: {'vivliostyle-menu-disabled': navigation.isNavigateToNextDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Next Page (↓)" aria-keyshortcuts="ArrowDown PageDown" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isNavigateToNextDisabled}"></span></li>
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_move-last" data-bind="click: navigation.navigateToLast, css: {'vivliostyle-menu-disabled': navigation.isNavigateToLastDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Last Page (End)" aria-keyshortcuts="End Meta+ArrowDown" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isNavigateToLastDisabled}"></span></li>
		<li class="vivliostyle-menu-item" id="vivliostyle-menu-item_page-number" data-bind="css: {'vivliostyle-menu-disabled': navigation.isPageNumberDisabled}"><input aria-label="Page number" id="vivliostyle-page-number" title="Go to Page… (G)" aria-keyshortcuts="G" data-bind="value: navigation.pageNumber, attr: {'aria-disabled': navigation.isPageNumberDisabled}" onfocus="setTimeout(()=>{this.setSelectionRange(0,this.value.length)},0)" type="text" inputmode="numeric" autocomplete="off"/></li>
		<li class="vivliostyle-menu-item" id="vivliostyle-menu-item_total-pages"><span aria-label="Total pages" id="vivliostyle-total-pages" data-bind="text: navigation.totalPages"></span></li>
	</ul>
	<ul class="vivliostyle-menu" id="vivliostyle-menu_zoom" data-bind="visible: !navigation.hideZoom">
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_zoom-out" data-bind="click: navigation.zoomOut, css: {'vivliostyle-menu-disabled': navigation.isZoomOutDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Zoom: Out (O)" aria-keyshortcuts="O" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isZoomOutDisabled}"></span></li>
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_zoom-in" data-bind="click: navigation.zoomIn, css: {'vivliostyle-menu-disabled': navigation.isZoomInDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Zoom: In (I)" aria-keyshortcuts="I" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isZoomInDisabled}"></span></li>
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_zoom-to-actual-size" data-bind="click: navigation.zoomToActualSize, css: {'vivliostyle-menu-disabled': navigation.isZoomToActualSizeDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Zoom: Actual Size (1)" aria-keyshortcuts="1" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isZoomToActualSizeDisabled}"></span></li>
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_zoom-fit-to-screen" data-bind="click: navigation.toggleFitToScreen, css: {'vivliostyle-menu-disabled': navigation.isToggleFitToScreenDisabled, 'on': navigation.fitToScreen}"><span role="button" class="vivliostyle-menu-icon-button" title="Zoom: Fit to Screen (F)" aria-keyshortcuts="F" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isToggleFitToScreenDisabled, 'aria-pressed': navigation.fitToScreen()?'true':'false'}"></span></li>
	</ul>
	<ul class="vivliostyle-menu" id="vivliostyle-menu_text-size" data-bind="visible: !navigation.hideFontSizeChange">
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_text-size-smaller" data-bind="click: navigation.decreaseFontSize, css: {'vivliostyle-menu-disabled': navigation.isDecreaseFontSizeDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Text: Smaller (-)" aria-keyshortcuts="-" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isDecreaseFontSizeDisabled}"></span></li>
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_text-size-larger" data-bind="click: navigation.increaseFontSize, css: {'vivliostyle-menu-disabled': navigation.isIncreaseFontSizeDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Text: Larger (+)" aria-keyshortcuts="Plus" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isIncreaseFontSizeDisabled}"></span></li>
		<li class="vivliostyle-menu-item vivliostyle-menu-disabled" id="vivliostyle-menu-item_text-size-default" data-bind="click: navigation.defaultFontSize, css: {'vivliostyle-menu-disabled': navigation.isDefaultFontSizeDisabled}"><span role="button" class="vivliostyle-menu-icon-button" title="Text: Default Size (0)" aria-keyshortcuts="0" data-bind="menuButton: true, attr: {'aria-disabled': navigation.isDefaultFontSizeDisabled}"></span></li>
	</ul>
</div>

<!-- MESSAGE DIALOG -->
<div role="alertdialog" aria-label="Error messages" id="vivliostyle-message-dialog" data-bind="foreach: messageDialog.list, css: {'vivliostyle-message-dialog-shown': messageDialog.visible}, attr: {'aria-hidden': !messageDialog.visible()?'true':'false'}">
	<div class="vivliostyle-message">
		<p data-bind="css: type, text: $parent.messageDialog.getDisplayMessage(content)"></p>
	</div>
</div>

</body>
</html>
