@charset 'utf-8';

/* stylesheet for Vivliostyle */
/* vertical writing mode */
/*------------------------------------------------------------------*/

/* MacのHiragino Sans W4が太すぎるのでW3に変える */
@font-face {
  font-family: "Hiragino Sans";
  src: local(HiraginoSans-W3);
  font-weight: 400;
}

:root {
  writing-mode: vertical-rl;
}

@-epubx-define {
  side-margin:          9vw;
  bottom-margin:        7vh;
  first-header-width:   33vw;
  rest-header-height:   -epubx-expr(max(7vw, 6.5vh));
  body-font:            'Hiragino Mincho ProN, Times New Roman, BIZ UDMincho, serif';
  title-font:           'Hiragino Mincho ProN, Yu Mincho, serif';
  subtitle-font:        'Hiragino Sans, BIZ UDPGothic, sans-serif';
  lead-font:            'Hiragino Mincho ProN, BIZ UDPMincho, serif';
  header-font:          'Helvetica Neue, Corbel, sans-serif';
  bleed:                0;
}

/** カバー・目次 **/
@-epubx-page-master cover-toc-page {
  @-epubx-partition toc {
    writing-mode: vertical-rl;
    -epubx-flow-from: cover-toc;
    -epubx-required: true;
    top:    -epubx-expr(header.bottom-edge + 1rem);
    bottom: -epubx-expr(bottom-margin);
    left:   -epubx-expr(side-margin);
    right:  -epubx-expr(side-margin);
  }
  @-epubx-partition-group header {
    top:    -epubx-expr(- bleed);
    left:   -epubx-expr(- bleed);
    right:  -epubx-expr(- bleed);
    height: -epubx-expr(bleed + (page-number == 1 ? 19vh : rest-header-height));
    width:  auto;
    background: #BDC0C1;
    @-epubx-partition header-logo {
      content: url(../images/jdir_logo_wht.svg);
      bottom: 0;
      left:   -epubx-expr(bleed + (page-number > 1 && page-number % 2 == 1 ? side-margin : 100vw - side-margin - header-logo.width));
      height: -epubx-expr(page-number == 1 ? 15vh : rest-header-height * 0.5);
      width:  -epubx-expr(page-number == 1 ? 36vh : rest-header-height * 1.2);
    }
  }
  @-epubx-partition body {
    -epubx-flow-from: body;
  }
}

/** 記事の先頭ページ **/
@-epubx-page-master article-first-page {
  @-epubx-partition page-number {
    content: counter(page);
    font-family: -epubx-expr(header-font);
    font-size: 0.75rem;
    line-height: 1;
    color: #6B6B6B;
    bottom: 2vh;
    left:   -epubx-expr(side-margin / 2);
    right:  -epubx-expr(side-margin / 2);
    height: 1rem;
    text-align: -epubx-expr(page-number % 2 == 1 ? 'left' : 'right');
  }
  @-epubx-partition body {
    writing-mode: vertical-rl;
    -epubx-flow-from: body;
    -epubx-enabled: -epubx-expr(lead.left-edge > side-margin + 4rem);
    top: 50vh;
    bottom: -epubx-expr(bottom-margin);
    left: -epubx-expr(side-margin);
    width: -epubx-expr(lead.left-edge);
    column-width: 14rem;
    column-gap: 2rem;
    column-fill: auto;
  }
  @-epubx-partition lead {
    writing-mode: vertical-rl;
    -epubx-flow-from: lead;
    top: 50vh;
    bottom: -epubx-expr(bottom-margin);
    right: -epubx-expr(first-header-width);
    max-width: -epubx-expr(100vw - first-header-width - side-margin);
  }
  @-epubx-partition figure {
    writing-mode: vertical-rl;
    -epubx-flow-from: figure;
    top: 7vh;
    left: -epubx-expr(title1.right-edge + 3vw);
    height: 41vh;
    margin-bottom: 0.5rem;
    z-index: 1;
  }
  @-epubx-partition title1 {
    writing-mode: vertical-rl;
    -epubx-flow-from: title1;
    -epubx-required: true;
    top: 7vh;
    bottom: 51vh;
    left: -epubx-expr(side-margin);
  }
  @-epubx-partition-group header {
    writing-mode: vertical-rl;
    top:    -epubx-expr(- bleed);
    bottom: -epubx-expr(- bleed);
    right:  -epubx-expr(bleed ? - bleed : -1px); /* 白線が見えてしまう問題対処 */
    height: auto;
    width:  -epubx-expr(bleed + first-header-width);
    background: #BDC0C1;
    @-epubx-partition title2 {
      -epubx-flow-from: title2;
      -epubx-wrap-flow: auto;
      left:   -epubx-expr(date.right-edge + 0.5vw);
      top:    -epubx-expr(bleed + 50vh);
      bottom: -epubx-expr(bleed + 1rem);
      z-index: 3;
    }
    @-epubx-partition date {
      -epubx-flow-from: date;
      -epubx-wrap-flow: auto;
      left: 0;
      top: -epubx-expr(bleed + 50vh);
      bottom: -epubx-expr(bleed + bottom-margin);
      z-index: 3;
    }
    @-epubx-partition keyperson {
      -epubx-flow-from: keyperson;
      -epubx-wrap-flow: auto;
      writing-mode: horizontal-tb;
      right:  -epubx-expr(bleed + ((page-width < 48rem || page-height < 48rem) ? 4vw : side-margin));
      bottom: -epubx-expr(bleed + bottom-margin);
      height: 10vw;
      width: 42vh;
      transform-origin: right bottom;
      transform: -epubx-expr(((page-width > 64rem || page-height < 48rem) ? '' : 'scale(1.333) ') + 'rotate(-90deg) translate(100%, 0)');
      overflow: visible;
      z-index: 2;
    }
    @-epubx-partition header-logo {
      content: url(../images/jdir_logo_wht.svg);
      -epubx-wrap-flow: auto;
      top:    -epubx-expr(bleed + 7vh);
      right:  -epubx-expr(bleed + ((page-width < 48rem || page-height < 48rem) ? 1vw : side-margin - 1vw));
      height: 9.67vw;
      width: 23vw;
      z-index: 2;
    }
  }
}

/** 記事の２ページ目以降 **/
@-epubx-page-master article-rest-page {
  -epubx-utilization: 0.4;  /* 図版がちょうどよいページに配置されるように調整 */
  @-epubx-partition page-number {
    content: counter(page);
    font-family: -epubx-expr(header-font);
    font-size: 0.75rem;
    line-height: 1;
    color: #6B6B6B;
    bottom: 2vh;
    left:   -epubx-expr(side-margin / 2);
    right:  -epubx-expr(side-margin / 2);
    height: 1rem;
    text-align: -epubx-expr(page-number % 2 == 1 ? 'left' : 'right');
  }
  @-epubx-partition body {
    writing-mode: vertical-rl;
    -epubx-flow-from: body;
    top: -epubx-expr(rest-header-height + 2vh);
    bottom: -epubx-expr(bottom-margin);
    left: -epubx-expr(side-margin);
    right: -epubx-expr(side-margin);
    column-width: 14rem;
    column-gap: 2rem;
    column-fill: auto; /* 段バランスしない */
  }
  @-epubx-partition figure class(figure-left) {
    writing-mode: vertical-rl;
    -epubx-flow-from: figure;
    -epubx-enabled: -epubx-expr(lead.width == 0);
    top: -epubx-expr(rest-header-height + 2vh);
    left: -epubx-expr(- bleed);
    height: -epubx-expr(body.column-count <= 2 ? 41vh : body.column-width * 2 + body.column-gap);
    margin-bottom: 0.5rem;
  }
  @-epubx-partition lead {
    writing-mode: vertical-rl;
    -epubx-flow-from: lead;
    top: -epubx-expr(rest-header-height + 2vh);
    right: -epubx-expr(side-margin);
    height: -epubx-expr(body.column-count <= 1 ? 98vh - rest-header-height - bottom-margin : body.column-width * 2 + body.column-gap);
    max-width: -epubx-expr(100vw - side-margin * 2);
    margin-bottom: 1.5vh;
  }
  @-epubx-partition-group header {
    writing-mode: vertical-rl;
    top:    -epubx-expr(- bleed);
    left:   -epubx-expr(- bleed);
    right:  -epubx-expr(- bleed);
    height: -epubx-expr(bleed + rest-header-height);
    width:  auto;
    background: #BDC0C1;
    @-epubx-partition keyperson {
      -epubx-flow-from: keyperson;
      -epubx-enabled: -epubx-expr(page-number % 2 == 1);
      left: -epubx-expr(bleed + side-margin);
      bottom: 0;
    }
    @-epubx-partition header-logo {
      content: url(../images/jdir_logo_wht.svg);
      -epubx-enabled: -epubx-expr(page-number % 2 == 0);
      bottom: 0;
      right: -epubx-expr(bleed + side-margin);
      height: -epubx-expr(rest-header-height * 0.5);
      width: -epubx-expr(rest-header-height * 1.2);
    }
  }
}

/** 本文 **/
body {
  font-family: -epubx-expr(body-font);
  /* font-weight: 300; */
  font-size: 1rem;    /* 16px (=12pt)  */
  line-height: 1.625; /* 26px (=19.5pt) */
  widows: 1;
  orphans: 1;
  margin: 0;
}

/** 強調 **/
.article-body strong {
  font-family: -epubx-expr(subtitle-font);
  font-weight: 700;
}

/** リンク **/
.article-body a {
  color: #ED1C24; 
}

/** ページヘッダーに表示する人物名 **/
.viv-header-keyperson {
  -epubx-flow-into: keyperson;
  -epubx-flow-options: static;
  font-family: -epubx-expr(header-font);
  font-weight: 100;
  font-size: -epubx-expr(3vh + 5vw);
  line-height: 1;
  color: white;
  white-space: nowrap;
  writing-mode: horizontal-tb;
  width: 100%;
  position: relative;
  bottom: -0.145em;
}

/** 記事タイトル **/
.article-body h1 {
  -epubx-flow-into: title1;
  -epubx-flow-options: exclusive;
  font-family: -epubx-expr(title-font);
  font-weight: 800;
  font-feature-settings: "vpal";
  font-size: -epubx-expr(max(2.75vh, 1.7rem));
  line-height: 1.3;
  border-top: 0.35em solid #EE00B9;
  padding-top: 0.35em;
  margin: 0;
  break-inside: avoid;
  line-break: strict;
}

/** 記事サブタイトル **/
.article-body h2 {
  -epubx-flow-into: title2;
  -epubx-flow-options: exclusive;
  font-family: -epubx-expr(subtitle-font);
  font-weight: 400;
  font-feature-settings: "vpal";
  font-size: -epubx-expr(max(2.2vh, 1.4rem));
  line-height: 1.3;
  margin: 0;
  break-inside: avoid;
  line-break: strict;
}

/** 著者・日付 **/
.article-body .date {
  -epubx-flow-into: date;
  -epubx-flow-options: exclusive;
  font-weight: 400;
  font-size: -epubx-expr(max(2vh, 1.1rem));
  line-height: 1.625;
  text-align: end;
  margin: 0;
}

/** リード **/
.viv-lead {
  -epubx-flow-into: lead;
  font-family: -epubx-expr(lead-font);
  font-feature-settings: "vpal";
  font-size: 1.2rem;
  line-height: 1.625;
  padding: 0 1.5em;
}

.viv-lead > p > strong:first-child:last-child,
.viv-lead > p > span:first-child:last-child > strong:first-child:last-child {
  font-family: inherit;
  font-weight: inherit;
  color: black;
}

@-epubx-flow lead {
  -epubx-flow-consume: all;
}

@media (max-width: 48rem), (max-height: 48rem) {
  .article-body h1 {
    font-size: 1.7rem;
  }
  .article-body h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
  .article-body .date {
    font-size: 0.84rem;
    font-weight: 500;
  }
  .viv-lead {
    font-size: 1rem;
  }
}

@media (max-width: 26rem), (max-height: 26rem) {
  .article-body h1 {
    font-size: 1.5rem;
  }
  .article-body h2 {
    font-size: 1rem;
  }
}

/** 段落 **/
.article-body p {
  margin: 0;
  text-align: justify;
}

/** 見出し **/
.article-body h4 {
  font-family: -epubx-expr(title-font);
  font-weight: 700;
  font-feature-settings: "vpal";
  font-size: 1.125rem;    /* 18px (=13.5pt) */
  line-height: 1.625rem;  /* 26px (=19.5pt) */
  color: #6B6B6B;
  border-top: 1em solid #6B6B6B;
  padding-top: 0.35em;
  margin: 0 0 0 1.625rem;
  break-inside: avoid;
  line-break: strict;
  column-count: 1;
}
.article-body p + h4 {
  margin-right: 1.625rem;
}

/** 図版 **/
figure {
  -epubx-flow-into: figure;
  -epubx-flow-options: exclusive; /* 図版は１個ずつ配置 */
  background: #E3E3E3;
  margin: 0;
  width: auto !important;
  height: 100%;
  break-inside: avoid;
  display: flex;
  flex-flow: column;
}
figure> img, figure > a > img {
  display: block;
  height: 100%;
  max-width: 68vw;
  object-fit: cover;
}

figure> img:not(:last-child), figure > a:not(:last-child) > img {
  max-width: 50vw;
  object-fit: cover;
}

/** 横長の画像 **/
img.viv-img-wide.viv-img-wide {
  max-width: -epubx-expr(100vw - 6rem);
  object-fit: contain;
  object-position: top;
}

/** 図版キャプション **/
figcaption {
  display: block;
  font-family: -epubx-expr(subtitle-font);
  font-feature-settings: "vpal";
  font-size: 0.9rem;
  line-height: 1.5;
  text-align: justify;
  box-sizing: border-box;
  height: 100%;
  background: #E3E3E3;
  padding: 1em 0.5em 1em 1.5em;
  break-inside: avoid;
}

@-epubx-flow figure {
  -epubx-flow-consume: all;
}

@media (max-width: 38rem), (max-height: 38rem) {
  figure> img:not(:last-child), figure > a:not(:last-child) > img {
    max-width: 50vw;
    object-fit: contain;
  }
  figcaption {
    font-size: 0.84rem;
    line-height: 1.4;
  }
}

@media (max-width: 26rem), (max-height: 26rem) {
  figure> img:not(:last-child), figure > a:not(:last-child) > img {
    max-width: 40vw;
  }
  figcaption {
    font-size: 0.78rem;
  }
}

@-epubx-region .figure-left {
  figcaption {
    padding-left: -epubx-expr(bleed + 1.5em);
  }
}

/** 枠囲み **/
.article-body .frame {
  display: block;
  font-family: -epubx-expr(subtitle-font);
  font-feature-settings: "vpal";
  font-size: 0.9rem;
  text-align: justify;
  border: 1px solid black;
  padding: 0.5em;
  margin-right: 1em;
}

.article-body .frame > strong:first-child {
  display: block;
  text-align: center;
  color: #2952FA;
  break-inside: avoid;
  break-after: avoid;
}

/** 非表示要素 **/
style, header, footer, footer ~ *, article ~ *, .bread-crumb, .sub-column, .sns-button {
    display: none;
}

/*** Tate-chuu-yoko, upright ***/

.viv-tcy {
  -webkit-text-combine: horizontal;
  text-combine-upright: all;
}

.viv-upright {
  text-orientation: upright;
  font-feature-settings: "fwid";
}

/** カバー・目次 **/
#cover-toc {
  -epubx-flow-into: cover-toc;
  font-family: -epubx-expr(subtitle-font);
  font-feature-settings: "vpal";
  font-size: 1rem;
  line-height: 1.625;
}

@-epubx-flow cover-toc {
  -epubx-flow-consume: all;
}

/* 目次 */

#toc > h1 {
  font-family: -epubx-expr(subtitle-font);
  font-size: 150%;
  line-height: 1.5;
  color: #6B6B6B;
  margin-inline: 0.2em 0;
  margin-block: 0 0.5em;
}

#toc > ol {
  padding-block: 0;
  padding-inline: 0;
  counter-reset: item;
}

#toc > ol > li {
  display: block;
  border-block-end: 1px dotted #BDC0C1;
  padding-block: 0.25em;
  padding-inline: 0.5em 0;
  margin-inline: 2em 0;
  break-inside: avoid;
}

#toc > ol > li::before {
  float: left;
  counter-increment: item;
  content: counter(item);
  font-family: -epubx-expr(header-font);
  font-size: 150%;
  line-height: 1.2;
  color: #6B6B6B;
  margin-inline: -1.5em 0;
  padding-inline: 0 0.5em;
}

#toc > ol > li::after {
  display: block;
  content: "";
  clear: both;
}

#toc > ol > li:first-child {
  border-block-start: 1px dotted #BDC0C1;
}

#toc > ol > li a {
  text-decoration: none;
  color: inherit;
}

#toc > ol > li a::after {
  /* content: target-counter(attr(href url), page); */
  font-family: -epubx-expr(header-font);
  color: #6B6B6B;
  float: right;
}

#toc > ol > li::before,
#toc > ol > li a::after {
  -webkit-text-combine: horizontal;
  text-combine-upright: all;
}

/** Notice **/
p.notice {
  font-family: -epubx-expr(body-font);
  font-size: 90%;
  margin-block: 2em 0;
  margin-inline: 1.5em 0;
}
p.notice::before {
  content: "※";
  margin-inline: -1em 0;
}
