@charset 'utf-8';

/* stylesheet for Vivliostyle */
/* vertical writing mode, for print */
/*------------------------------------------------------------------*/

@-epubx-define {
  bleed:  3mm;
}

@import url(viv-style-v.css);

@page {
  size:   A4;
  marks:  crop cross;
  bleed:  3mm;
}

#toc > ol > li a::after {
  content: target-counter(attr(href url), page);
}
