@charset "UTF-8";
html {
  /* writing mode */
  writing-mode: horizontal-tb;
}

/* reset */
* {
    margin: 0;
    padding: 0;
}
header,footer,section,figure,aside {
  display: block;
}
body {
  counter-reset: sectno;
}
body > section {
  page-break-before: always;
  page-break-after: always;
  counter-increment: sectno;
}


@page {
    size: 210mm 148mm;
    margin-top: 15mm;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

    /* The followings are inherited to page-margin boxes */
    font-family: $heading-font-family;
    font-size: 0.6em;
    line-height: $base-line-height;
    vertical-align: bottom;
    @top-right {
      content: "Vivliostyle";
	    margin-top: 5mm;
	    margin-bottom: 3mm;
      margin-right: 15mm;
    }
    @top-left {
      font-size: 0.6em;
	    margin-top: 5mm;
	    margin-bottom: 3mm;
      margin-left: 15mm;
    }
}

/* 表紙フォーマットスタイル */
body.cover {
background-color: #0b6bb1;
background-repeat: no-repeat;
background-position: center bottom;
background-image: url(../img/cover-bg.png);
background-size: contain;
}

/* コンテンツページ・目次フォーマットスタイル */
body.contents, body.toc {
background-repeat: no-repeat;
background-position: center bottom;
background-image: url(../img/footer-bg.png);
background-size: contain;
}

/* 各ページ余白 */
section {
  padding: 0 15mm 15mm 15mm;
}
