@namespace html "http://www.w3.org/1999/xhtml";
@namespace fb2 "http://www.gribuser.ru/xml/fictionbook/2.0";

html|body, fb2|body {
    -epub-hyphens: -epubx-expr(pref-hyphenate?"auto":"manual");
}

@-adapt-footnote-area {
	display: block;
	-adapt-margin-before: 0.5em;
	-adapt-margin-after: 0.5em;
}

@-adapt-footnote-area ::before {
	display: block;
	-adapt-border-before-width: 1px;
	-adapt-border-before-style: solid;
	-adapt-border-before-color: black;
	-adapt-margin-after: 0.4em;
	-adapt-margin-start: 0;
	-adapt-margin-end: 60%;
}

/* default page master */
@-epubx-page-master :background-host {
    @-epubx-partition :layout-host {
        -epubx-flow-from: body;
        top: -epubx-expr(header.margin-bottom-edge);
        bottom: -epubx-expr(page-height - footer.margin-top-edge);
        left: 0px;
        right: 0px;
    	column-width: 25em; 
    }
    @-epubx-partition footer :oeb-page-foot {
    	-epub-writing-mode: horizontal-tb;
    	-epubx-flow-from: oeb-page-foot;
    	bottom: 0px;
    	left: 0px;
    	right: 0px;
    }
    @-epubx-partition header :oeb-page-head {
    	-epub-writing-mode: horizontal-tb;
    	-epubx-flow-from: oeb-page-head;
    	top: 0px;
    	left: 0px;
    	right: 0px;
    }
}

@page {
	@top-left-corner {
		text-align: right;
		vertical-align: middle;
	}
	@top-left {
		text-align: left;
		vertical-align: middle;
	}
	@top-center {
		text-align: center;
		vertical-align: middle;
	}
	@top-right {
		text-align: right;
		vertical-align: middle;
	}
	@top-right-corner {
		text-align: left;
		vertical-align: middle;
	}
	@left-top {
		text-align: center;
		vertical-align: top;
	}
	@left-middle {
		text-align: center;
		vertical-align: middle;
	}
	@left-bottom {
		text-align: center;
		vertical-align: bottom;
	}
	@right-top {
		text-align: center;
		vertical-align: top;
	}
	@right-middle {
		text-align: center;
		vertical-align: middle;
	}
	@right-bottom {
		text-align: center;
		vertical-align: bottom;
	}
	@bottom-left-corner {
		text-align: right;
		vertical-align: middle;
	}
	@bottom-left {
		text-align: left;
		vertical-align: middle;
	}
	@bottom-center {
		text-align: center;
		vertical-align: middle;
	}
	@bottom-right {
		text-align: right;
		vertical-align: middle;
	}
	@bottom-right-corner {
		text-align: left;
		vertical-align: middle;
	}
}

@media print {
	@page {
		margin: 10%;
	}
}
