/*
 * Copyright 2015 Vivliostyle Inc.
 */

@media print {
    [data-vivliostyle-viewer-viewport] > div, [data-vivliostyle-viewer-viewport] > div > div, [data-vivliostyle-viewer-viewport] > div > div > div {
        width: 100% !important;
        height: 100% !important;
    }

    [data-vivliostyle-viewer-viewport] > div > div {
        -moz-transform: none !important;
        -ms-transform: none !important;
        -webkit-transform: none !important;
        transform: none !important;
    }

    /* Workaround for Chrome printing problem */
    [data-vivliostyle-viewer-viewport] > div > div > div {
        display: block !important;
        height: 99.99% !important;
    }
}

@media screen {
    [data-vivliostyle-viewer-viewport] {
        background: #AAAAAA;
    }

    [data-vivliostyle-viewer-viewport] > div > div > div {
        background: white;
    }

    [data-vivliostyle-viewer-viewport] {
        display: -webkit-flex;
        display: flex;
    }

    [data-vivliostyle-viewer-viewport] > div {
        margin: auto;
        overflow: visible;
        -webkit-flex: none;
        flex: none;
    }

    [data-vivliostyle-viewer-viewport][data-vivliostyle-viewer-status=complete] > div > div {
        display: -webkit-flex;
        display: flex;
        -webkit-flex: none;
        flex: none;
        -webkit-justify-content: center;
        justify-content: center;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -webkit-transform-origin: left top;
        transform-origin: left top;
    }

    [data-vivliostyle-viewer-viewport][data-vivliostyle-page-progression=ltr] > div > div {
        -webkit-flex-direction: row;
        flex-direction: row;
    }
    [data-vivliostyle-viewer-viewport][data-vivliostyle-page-progression=rtl] > div > div {
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    [data-vivliostyle-viewer-viewport] > div > div > div {
        margin: 0 auto;
        -webkit-flex: none;
        flex: none;
    }
    [data-vivliostyle-viewer-viewport][data-vivliostyle-spread-view=true] > div > div > div[data-vivliostyle-page-side=left] {
        margin-right: 1px;
    }
    [data-vivliostyle-viewer-viewport][data-vivliostyle-spread-view=true] >div > div > div[data-vivliostyle-page-side=right] {
        margin-left: 1px;
    }
    [data-vivliostyle-viewer-viewport][data-vivliostyle-spread-view=true] > div > div > div[data-vivliostyle-unpaired-page=true] {
        margin-left: auto;
        margin-right: auto;
    }
}
