@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    /* 組み方向 */
    -epub-writing-mode: vertical-rl;
    /* フォント */
    font-family: "游明朝", "YuMincho", serif;
    font-weight: normal;
    /* フォントサイズ */
    font-size: calc(14 * 0.25 * 72pt / 25.4); /* duplicate */
    /* 行送り */
    line-height: calc(24.64 * 0.25 * 72pt / 25.4); /* duplicate */
    /* 行末揃え */
    text-align: justify;
}

@media screen {
    html {
        max-height: 40em;
        margin: auto 30px;
    }
}

h1 {
    /* 段抜き */
    column-span: all;
    /* フォント */
    font-family: "游ゴシック", "YuGothic", sans-serif;
    font-weight: bold;
    /* フォントサイズ */
    font-size: 2em;
    /* 字下げ */
    text-indent: 0;
    /* 直後の改ページ・改段禁止 */
    break-after: avoid;

    line-height: 1em;
    width: (24.64 * 0.25 * 72pt / 25.4 * 3 - (24.64 * 0.25 * 72pt / 25.4 * 3 - 1em) / 2); /* duplicate */
    padding-right: calc((24.64 * 0.25 * 72pt / 25.4 * 3 - 1em) / 2); /* duplicate */
}

h2.author {
    /* 段抜き */
    column-span: all;
    /* フォント */
    font-family: "游ゴシック", "YuGothic", sans-serif;
    font-weight: normal;
    /* フォントサイズ */
    font-size: 1em;
    /* 字下げ */
    text-indent: 0;
    /* 直後の改ページ・改段禁止 */
    break-after: avoid;
    /* 右揃え */
    text-align: right;
}

hr {
    border: none;
    border-right: 1pt solid black;
    height: 6em;
    margin: auto calc((24.64 * 0.25 * 72pt / 25.4 - 1pt) / 2); /* duplicate */
}

@-epubx-page-template {

    @-epubx-define {
        /* ページサイズ */
        page-width: 123mm;
        page-height: 188mm;
        /* フォントサイズ */
        /* font-size: 14Q; */
        font-size: -epubx-expr(14 * 0.25 * 72pt / 25.4);
        /* 行送り */
        /* body-line-height: 24.64Q; */
        body-line-height: -epubx-expr(24.64 * 0.25 * 72pt / 25.4);
        /* 行長（文字数） */
        line-length: 21;
        /* 行数 */
        line-count: 15;
        /* 段数 */
        column-count: 2;
        /* 段間 */
        column-gap: 1em;
        /* 基本版面の天からの距離 */
        page-margin-top: 17mm;
        /* 基本版面の小口からの距離 */
        /* Adaptive Layoutには元々右ページ・左ページを区別する方法がない */
        /* page-margin-outside: 20mm; */

        /* h1 */
        /* 行取り */
        h1-lines: 3;
        /* 行送り */
        h1-line-height: 2em;
        h1-block-size: -epubx-expr(body-line-height * h1-lines);
        h1-padding: -epubx-expr((h1-block-size - h1-line-height) / 2);

        /* h2.author */
        /* 行取り */
        h2-author-lines: 1;
        /* 行送り */
        h2-author-line-height: -epubx-expr(body-line-height);
        h2-author-block-size: -epubx-expr(body-line-height * h2-author-lines);
        h2-author-padding: -epubx-expr((h2-author-block-size - h2-author-line-height) / 2);

        /* hr */
        hr-line-width: 1pt;
    }

    h1 {
        width: -epubx-expr(h1-block-size - h1-padding);
        line-height: 1em;
        padding-right: -epubx-expr(h1-padding);
    }

    h2.author {
        width: -epubx-expr(h2-author-block-size - h2-author-padding);
        line-height: -epubx-expr(h2-author-line-height);
        padding-right: -epubx-expr(h2-author-padding);
    }

    /* 以下自動計算 */
    html {
        font-size: -epubx-expr(font-size);
        line-height: -epubx-expr(body-line-height);
        column-count: -epubx-expr(column-count);
        column-gap: -epubx-expr(column-gap);
    }

    hr {
        margin-right: -epubx-expr((body-line-height - hr-line-width) / 2);
        margin-left: -epubx-expr((body-line-height - hr-line-width) / 2);
        margin-top: auto;
        margin-bottom: auto;
    }

    @-epubx-page-master {
        @-epubx-partition {
            -epubx-flow-from: body;
            width: -epubx-expr(body-line-height * line-count);
            height: -epubx-expr(font-size * line-length * 2 + column-gap * (column-count - 1));
            top: -epubx-expr(page-margin-top);
            left: -epubx-expr((page-width - body-line-height * line-count) / 2);
            -epub-writing-mode: vertical-rl;
            column-count: -epubx-expr(column-count);
            column-gap: -epubx-expr(column-gap);
        }
    }

}
