@charset "UTF-8";

:root {
    /* ページサイズ */
    --page-width: 123mm;
    --page-height: 188mm;
    /* 組み方向 */
    writing-mode: vertical-rl;
    /* フォント */
    font-family: "游明朝", "YuMincho", serif;
    font-weight: normal;
    /* フォントサイズ */
    --font-size: 14Q;
    /* 行送り */
    --body-line-height: 24.64Q;
    /* 行長（文字数） */
    --line-length: 21;
    /* 行数 */
    --line-count: 15;
    /* 段数 */
    --column-count: 2;
    /* 段間 */
    --column-gap: 1em;
    /* 基本版面の天からの距離 */
    --page-margin-top: 17mm;
    /* 基本版面の小口からの距離 */
    --page-margin-outside: 20mm;
    /* 行末揃え */
    text-align: justify;
}

@media screen {
    :root {
        max-inline-size: 40em;
        margin: 30px auto;
    }
}

h1 {
    /* 段抜き */
    column-span: all;
    /* 行取り */
    --lines: 3;
    /* フォント */
    font-family: "游ゴシック", "YuGothic", sans-serif;
    font-weight: bold;
    /* フォントサイズ */
    font-size: 2em;
    /* 行送り */
    --line-height: 1em;
    /* 字下げ */
    text-indent: 0;
    /* 直後の改ページ・改段禁止 */
    break-after: avoid;
}

h2.author {
    /* 段抜き */
    column-span: all;
    /* 行取り */
    --lines: 1;
    /* フォント */
    font-family: "游ゴシック", "YuGothic", sans-serif;
    font-weight: normal;
    /* フォントサイズ */
    font-size: 1em;
    /* 行送り */
    --line-height: var(--body-line-height);
    /* 字下げ */
    text-indent: 0;
    /* 直後の改ページ・改段禁止 */
    break-after: avoid;
    /* 右揃え */
    text-align: end;
}

hr {
    border: none;
    --line-width: 1pt;
    border-block-start: var(--line-width) solid black;
    inline-size: 6em;
    margin: logical calc((var(--body-line-height) - var(--line-width)) / 2) auto;
}


/* 以下自動計算 */
* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: var(--font-size);
    line-height: var(--body-line-height);
    column-count: var(--column-count);
    column-gap: var(--column-gap);
}

@page {
    size: var(--page-width) var(--page-height);
    margin-top: var(--page-margin-top);
    margin-bottom: calc(var(--page-height) - var(--page-margin-top) - var(--font-size) * var(--line-length) * var(--column-count) - var(--column-gap) * (var(--column-count) - 1));
}

@page :right {
    margin-right: var(--page-margin-outside);
    margin-left: calc(var(--page-width) - var(--page-margin-outside) - var(--body-line-height) * var(--line-count));
}

@page :left {
    margin-left: var(--page-margin-outside);
    margin-right: calc(var(--page-width) - var(--page-margin-outside) - var(--body-line-height) * var(--line-count));
}

h1, h2 {
    box-sizing: border-box;
    --block-size: calc(var(--body-line-height) * var(--lines));
    block-size: var(--block-size);
    line-height: var(--line-height);
    padding-block-start: calc((var(--block-size) - var(--line-height)) / 2);
}
