@charset "UTF-8";

$base-font-family: 'Quattrocento', Georgia, serif;
$base-font-size: 10pt;
$base-line-height: 18pt;

// page format definition
@import 'base/format';
// typography style definition
@import 'base/typography';
// contents style definition
@import 'base/contents';
