@charset "UTF-8";
@import url("../../figures/figures.css");
/* COLOR INDEX */
/*hsl(20, 40%, 90%);*/
/* AH has trouble with real transparent */
/* Fonts */
/* Sizes */
/* Original sizes
$page_w: 8in;
$page_h: 9.75in;
$margin_top: .7in;
$margin_bottom: 1in;
$margin_outside: .5in;
$margin_inside: .9in;
$sidebar_gutter: .3in;
$sidebar_width: 1.6in;
*/
/* Helper functions */
/* Functions to create data URI SVGs */
a[data-type="xref"][href^="#chapter-"]::after {
  content: "Chapter 42";
  /*placeholder*/
  content: "Chapter " target-counter(attr(href, url), ChapterNumber); }

a[data-type="xref"][href^="#chapter-"]:lang(ja)::after {
  content: "42\002009章";
  /*placeholder*/
  content: target-counter(attr(href, url), ChapterNumber) " 章";
  text-transform: full-width;
  font-family: "Source Han Sans", "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3; }

a[data-type="xref"][href^="#section-"]::after {
  content: " section on page 123";
  /*placeholder*/
  content: " section on page " target-counter(attr(href, url), page); }

a[data-type="xref"][href^="#secret-"]::after {
  content: " secret on page 123";
  content: " secret on page " target-counter(attr(href, url), page); }

a[data-type="xref"][href^="#section-"]:lang(ja)::after,
a[data-type="xref"][href^="#secret-"]:lang(ja)::after {
  content: none; }

a[data-type="xref"][href^="#section-"]:lang(ja)::before,
a[data-type="xref"][href^="#secret-"]:lang(ja)::before {
  content: "P.\0000a0123 の";
  /*placeholder*/
  content: "P. " target-counter(attr(href, url), page) " の";
  margin-left: 0.2em;
  font-family: "Source Han Sans", "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, "ヒラギノ角ゴ Pro W3", HiraKakuPro-W3; }

/* temporarily turning on index page numbers */
a[data-type="index:locator"]::after {
  content: "123";
  /* place holder */
  content: target-counter(attr(href, url), page); }

/*index markers as roman numerals*/
:root:lang(en) a[data-type="index:locator"][data-xref-pagenum-style="lower-roman"]::after {
  content: "xxiv";
  /*placeholder*/
  content: target-counter(attr(href, url), page, lower-roman); }

section[data-type="foreword"],
section[data-type="preface"] {
  page-break-before: right; }

.dup {
  display: none; }

section[data-type="foreword"] > h1,
section[data-type="preface"] > h1 {
  position: relative;
  float: none;
  font-size: 4.3rem;
  line-height: 1.15;
  text-align: left;
  padding-top: .47in;
  margin-top: 1in;
  margin-bottom: 1in;
  overflow: visible;
  color: #C00065;
  font-weight: 700;
  font-size: 3.8rem;
  line-height: 1;
  hyphens: manual; }

section[data-type="preface"] > h1:after {
  content: none; }

/*Index Handling*/
section[data-type="index"] {
  page-break-before: right; }

a[data-type="index:locator"]::after {
  content: "123";
  /* place holder */
  content: target-counter(attr(href, url), page); }

:root:lang(en) a[data-type="index:locator"][data-xref-pagenum-style="lower-roman"]::after {
  content: "xxiv";
  /*placeholder*/
  content: target-counter(attr(href, url), page, lower-roman); }

section[data-type="index"] ul {
  margin: 0;
  padding: 0; }

section[data-type="index"] ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
  font-size: 0.9rem;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline; }

section[data-type="index"] li li {
  padding-left: 1em; }

section[data-type="index"] .leader {
  margin-left: 1ch;
  margin-right: 1ch;
  flex: auto;
  border-bottom: 1px dotted gray;
  position: relative; }

section[data-type="index"] .leader::after {
  /* This fixes a glitch in chrome where depending on the length,
  some dotted borders get an ugly large dot at the end */
  content: "";
  position: absolute;
  height: 1px;
  background: white;
  right: 0;
  width: 1px; }

section[data-type="index"] li ul {
  width: 100%; }

div[data-type="indexdiv"] h3 {
  font-size: 1.5rem;
  color: #C00065;
  margin: 12pt 0 3pt 0; }

/*Set TOCs to start on Recto*/
nav[data-type="toc"],
section[data-type="index"].spec {
  page-break-before: right; }

/*Updated handling for pagebreak classes*/
*.pagebreak-before {
  page-break-before: always !important;
  break-before: page !important; }

*.pagebreak-after {
  page-break-after: always !important;
  break-after: page !important; }

*.break-before-right {
  break-before: right !important;
  page-break-before: right !important; }

*.break-before-left {
  break-before: left !important;
  page-break-before: left !important; }

*.no-break {
  break-inside: avoid; }

/*Styling for Title page*/
section[data-type="titlepage"] {
  page-break-before: right;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 5.6in;
  margin: 0 auto; }

section[data-type="titlepage"]:before {
  content: " ";
  white-space: pre;
  line-height: 0;
  background: url("assets/title-text.png") no-repeat;
  background-size: contain;
  display: block;
  width: 100%;
  padding-top: 80.25%;
  /* 1385 / 1726, to preserve aspect ratio */ }

section[data-type="titlepage"] h1,
section[data-type="titlepage"] h2,
section[data-type="titlepage"] p {
  display: none; }

section[data-type="titlepage"]:after {
  content: "";
  background: url("assets/titlepage_footer_webpdf.svg") no-repeat;
  background-size: contain;
  display: block;
  margin-top: auto;
  width: 80%;
  padding-top: 6.08%;
  /* 80% * 23.9 / 380.3, to preserve aspect ratio */
  margin-left: auto; }

/* Oneoff fix for Preface figure labeling */
section[data-type="preface"] figcaption:before {
  content: "Figure P." counter(FigureNumber); }

section[data-type="preface"]:lang(ja) figcaption:before {
  content: "図 例." counter(FigureNumber); }

section[data-type="colophon"] {
  break-before: right; }
  section[data-type="colophon"] > h1 {
    display: none; }
  section[data-type="colophon"] p {
    text-indent: 0; }
  section[data-type="colophon"] li::before {
    content: normal; }
  section[data-type="colophon"] a {
    font-weight: normal; }
  section[data-type="colophon"] .bios h2, section[data-type="colophon"] .bios h3 {
    margin: 0;
    line-height: normal;
    font-weight: bold; }
  section[data-type="colophon"] .bios h2 {
    font-size: 1em; }
  section[data-type="colophon"] .bios h2 ~ h2 {
    margin-top: 2em; }
  section[data-type="colophon"] .bios h3 {
    font-size: 1.15em;
    margin-top: 0.2em; }
  section[data-type="colophon"] .bios rtc, section[data-type="colophon"] .bios rt {
    display: inline;
    font-size: 1rem;
    font-style: normal; }
  section[data-type="colophon"] .bios rtc::before {
    content: "（"; }
  section[data-type="colophon"] .bios rtc::after {
    content: "）"; }
  section[data-type="colophon"] .bios rt + rt::before {
    content: " "; }
  section[data-type="colophon"] .bios p + h3 {
    margin-top: 2em; }
  section[data-type="colophon"] .bios h2::before {
    content: "● "; }
  section[data-type="colophon"] [data-type="sect1"] {
    break-inside: avoid; }
    section[data-type="colophon"] [data-type="sect1"] .editions time {
      display: inline-block;
      min-width: 8em; }
    section[data-type="colophon"] [data-type="sect1"] table {
      border-collapse: collapse; }
    section[data-type="colophon"] [data-type="sect1"] td:first-child {
      width: 6em;
      padding-right: 2em;
      vertical-align: top;
      text-align: justify;
      text-align-last: justify;
      text-justify: inter-character; }
    section[data-type="colophon"] [data-type="sect1"] .nocopy {
      font-size: 0.85rem;
      margin-top: 2em; }
    section[data-type="colophon"] [data-type="sect1"] .details {
      margin: 0.3em 0;
      padding: 0.3em 0;
      border-top: 1px solid black;
      border-bottom: 1px solid black; }
    section[data-type="colophon"] [data-type="sect1"] h1 {
      font-size: 1.5rem;
      margin: 2em 0 0;
      color: black;
      padding: 0; }
    section[data-type="colophon"] [data-type="sect1"] ul, section[data-type="colophon"] [data-type="sect1"] li {
      margin: 0; }

.fig-fix {
  display: none; }
