/* ch00 */
/* ch01 */
#note-less {
	padding-top: 3pt;
}
#note-measurement {
	padding-top: 12pt;
}
#speech-bubble{
	margin-bottom:0;
}
#vertically-centered {
	padding-top: 0.1in;
}
#tip-hsla {
	padding-bottom: 0;
}
#dry-button {
	margin-bottom: 0;
}
/* ch02 */
#semi-transparent-border {
	padding-top: 12pt;
}
#shadow-outline {
	padding-top: 12pt;
	margin-bottom: 0;
}
#shadow-2-outlines {
	padding-top: 0.1in;
	margin-bottom: 0;
}
#background-corner-offsets{
	margin-bottom: 0;
}
#extended-bgpos-fallback {
	padding-top: 0.1in;
}
#rounded-inside {
	margin-top: -0.2in;
	padding-bottom: 0;
}
#outline-rounding-2 {
	margin-top: 0.6em;
	padding-bottom: 0.35in;
	margin-bottom: 0;
}
#shadow-rounding {
	padding-top: 0.6em;
}
#diagonal-stripes {
	padding-top: 12pt;
}
#diagonal-stripes-fail {
	margin-top: -0.3in;
	margin-bottom:0;
}
#repeating-gradient {
	padding-top: 12pt;
}
#subtle-stripes {
	padding-bottom: 0;
}
#tablecloth {
	margin-bottom:0;
	padding-bottom: 0.35in;
}
#blueprint {
	padding-top: 9pt;
}
#checkerboard-half, #checkerboard-triangles2, #checkerboard-triangles-combined {
	margin-bottom:0;
	padding-bottom: 0.35in;
}
#checkerboard-full {
	padding-top: 12pt;
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#tip-readability {
	padding-bottom: 0;
}
#border-image {
	padding-bottom: 0.35in;
	margin-bottom: 0;
}
#stoneart-border-paddingbox {
	margin-bottom: 0;
	padding-bottom: 0;
}
#tip-vintage {
	margin-bottom: 0;
}
#photoshop-marching-ants {
	padding-bottom: 0;
}
/* ch03 */
#note-quater{
	margin-top: -0.3in;
}
#quarter-ellipse {
	padding-bottom: 0; 
	margin-bottom: 0;
}
#parallelogram {
	padding-bottom: 0;
}
#parallelogram-broken {
	padding-bottom: 0;
}
#parallelogram-broken {
	margin-bottom:0;
	padding-bottom: 0.35in;
}
#parallelogram-obscured {
	padding-bottom: 0;
}
#diamond-broken {
	padding-bottom: 0;
}
#cutout-br {
	margin-top: -0.3in;
	padding-bottom: 0;
}
#cutout-blr {
	padding-top: 12pt;
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#cutout-all {
	padding-bottom: 0;
}
#svg-cutout-corners-background {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#trapezoid-pseudo {
	padding-top: 12pt;
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#trapezoid-overlaid {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#trapezoid-overlaid {
	padding-top: 12pt;
}
#trapezoid-scale-fallback {
	padding-top: 12pt;
}
#warning-careful {
	padding-bottom: 0;
	margin-bottom: 0;
}
#note-properties {
	padding-top: 12pt;
}
#pie-pseudo-styled {
	padding-top: 12pt;
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#pie-60-broken {
	margin-bottom: 0;
	padding-top: 0.35in;
}
/* ch04 */
#note-csswg {
	padding-bottom: 0;
}
#tiger {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#sepia-saturate {
	margin-bottom: 0;
	padding-bottom: 0;
}
#sepia-saturate-huerotate {
	margin-bottom: 0;
}
#warn-z-index {
	margin-bottom: 0;
}
#folded-final {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#folded-150-fake {
	margin-bottom: 0;
}
#folded-150-broken {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#folded-150-misplaced, #folded-150-origin {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#warn-translate-y {
	padding-top: 12pt;
}
#warning-trig {
	padding-top: 12pt;
	margin-bottom: 0;
}
/* ch05 */
#dl-lines {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#code-huge-tabs {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#note-background-shorthands {
	padding-top: 12pt;
	padding-bottom: 0.1in;
}
#note-tabs {
	margin-bottom: 0;
}
#code-smaller-tabs {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#broken-ligature {
	margin-bottom: 0;
	padding-bottom: 0;
}
#note-font-book {
	padding-bottom: 0;
}
#border-underlines {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#gradient-underlines {
	margin-bottom: 0;
}
#letterpress-gonewrong {
	padding-top: 12pt;
	padding-bottom: 0;
}
#true-stroked-text {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#glowing-text {
	padding-top: 12pt;
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#extruded-text {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#circular-2 {
	padding-top: 12pt;
	padding-bottom: 0;
}
#circular-path {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
/* ch06 */
#cursors-disabled {
	padding-bottom: 0;
}
#warning-videos {
	padding-top: 12pt;
}
#hitarea-largebutton, #hitarea-background {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#hitarea-outsetshadow {
	padding-bottom: 0;
}
#note-checkboxes {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#checkbox-basic {
	padding-top: 12pt;
	padding-bottom: 0;
}
#checkbox-focused-disabled {
	padding-top: 12pt;
}
#toggle-button {
	padding-top: 12pt;
}
#note-dialog {
	padding-top: 12pt;
}
#dialog-nooverlay {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#tip-input {
	padding-top: 12pt;
}
/* ch07 */
#figure-default {
	margin-top: -6pt;
	padding-bottom: 0;
	margin-bottom: 0;
}
#first-child-nth-4 {
	padding-bottom: 0;
}
#warning-whitespace2, #warn-mq {
	padding-bottom: 0;
}
#conosur, #alfredapp {
	margin-bottom: 0;
}
#verticalcentering-start {
	padding-bottom: 0;
}
#verticalcentering-vh {
	padding-bottom: 0;
}
#note-andrew {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#verticalcentering-flex-text {
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#note-sticky{
	margin-bottom: 0;
}
#footer-longcontent {
	margin-bottom: 0;
}
#footer-shortcontent {
	padding-top: 12pt;
	margin-bottom: 0;
	padding-bottom: 0.35in;
}
#flex-horizontal {
	padding-top: 12pt;
}
/* ch08 */
#ease-reverse {
	padding-top: 12pt;
}
#tip-height {
	padding-top: 12pt;
	padding-bottom: 0;
}
#steps-1 {
	padding-bottom: 0;
}
#note-trans {
	padding-bottom: 0;
}
#typing-start {
	padding-bottom: 0;
}
