/* COLOR INDEX */
/*hsl(20, 40%, 90%);*/
/* AH has trouble with real transparent */
/* Fonts */
/* Sizes */
/* Original sizes
$page_w: 8in;
$page_h: 9.75in;
$margin_top: .7in;
$margin_bottom: 1in;
$margin_outside: .5in;
$margin_inside: .9in;
$sidebar_gutter: .3in;
$sidebar_width: 1.6in;
*/
/* Helper functions */
/* Functions to create data URI SVGs */
pre[data-type=programlisting] {
  /*
  LEGEND: 
  .c	Comments
  .k	CSS @rules, some JS Keywords
  .nl	CSS properties
  .py	CSS prefixed properties
  .o	Punctuation
  .p	Punctuation
  .nc CSS class selector
  .nt	HTML tag, CSS tag Selector
  .nd SCSS function
  .na HTML Attribute name, SCSS property
  .s	HTML attribute values
  .kd	JS Keyword
  .o	JS Operator
  .nx	JS identifier
  .s1	JS single-quote string
  .s2 JS double-quote string
  .nb JS builtins, CSS colors
  .sx	CSS url(),
  .cm SCSS comment
  .nv SCSS variable
  .c1 JS comment
  */ }
  pre[data-type=programlisting] .c,
  pre[data-type=programlisting] .cm,
  pre[data-type=programlisting] .c1 {
    color: rgb(89, 85, 85); }
  pre[data-type=programlisting] .k,
  pre[data-type=programlisting] .nl,
  pre[data-type=programlisting] .py, pre[data-type=programlisting][data-code-language="scss"] .na {
    font-weight: bold; }
  pre[data-type=programlisting] .o,
  pre[data-type=programlisting] .p {
    color: rgb(89, 85, 85); }
    .trivia pre[data-type=programlisting] .o, .trivia
    pre[data-type=programlisting] .p {
      color: #CBB0A6; }
  pre[data-type=programlisting] .nc, pre[data-type=programlisting][data-code-language^="html"] .nt, pre[data-type=programlisting][data-code-language^="css"] .nt, pre[data-type=programlisting][data-code-language^="scss"] .nt, pre[data-type=programlisting][data-code-language^="xml"] .nt,
  pre[data-type=programlisting] .nd, pre[data-type=programlisting][data-code-language^="js"] .nb {
    font-weight: bold;
    color: rgb(108, 157, 0); }
    .trivia pre[data-type=programlisting] .nc, .trivia pre[data-type=programlisting][data-code-language^="html"] .nt, .trivia pre[data-type=programlisting][data-code-language^="css"] .nt, .trivia pre[data-type=programlisting][data-code-language^="scss"] .nt, .trivia pre[data-type=programlisting][data-code-language^="xml"] .nt, .trivia
    pre[data-type=programlisting] .nd, .trivia pre[data-type=programlisting][data-code-language^="js"] .nb {
      color: rgb(166, 242, 0); }
  pre[data-type=programlisting] .kd {
    font-weight: bold; }
  pre[data-type=programlisting] .na, pre[data-type=programlisting] .k, pre[data-type=programlisting] .kd, pre[data-type=programlisting] .nl, pre[data-type=programlisting] .py {
    color: #920050; }
    .trivia pre[data-type=programlisting] .na, .trivia pre[data-type=programlisting] .k, .trivia pre[data-type=programlisting] .kd, .trivia pre[data-type=programlisting] .nl, .trivia pre[data-type=programlisting] .py {
      color: rgb(217, 108, 217); }
  pre[data-type=programlisting] .s, pre[data-type=programlisting] .s1, pre[data-type=programlisting] .s2 {
    color: rgb(82, 122, 163);
    /* overprinted blue */ }
  pre[data-type=programlisting][data-code-language^="scss"] .k {
    color: rgb(230, 149, 0); }
  pre[data-type=programlisting] .nv {
    font-weight: bold;
    color: #655; }
