@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    /* 組み方向 */
    -epub-writing-mode: horizontal-tb;
    /* フォント */
    font-family: "游明朝", "YuMincho", serif;
    font-weight: normal;
    /* フォントサイズ */
    font-size: 10.5pt; /* duplicate */
    /* 行送り */
    line-height: 18pt; /* duplicate */
    /* 行末揃え */
    text-align: justify;
}

@media screen {
    html {
        margin: 30px 30px;
    }
}

h1 {
    /* 段抜き */
    column-span: all;
    /* フォント */
    font-family: "游ゴシック", "YuGothic", sans-serif;
    font-weight: bold;
    /* フォントサイズ */
    font-size: 2em;
    /* 字下げ */
    text-indent: 0;
    /* 直後の改ページ・改段禁止 */
    break-after: avoid;

    line-height: 1em;
    height: calc(18pt * 3 - (18pt * 3 - 1em) / 2); /* duplicate */
    padding-top: calc((18pt * 3 - 1em) / 2); /* duplicate */
}

h2.author {
    /* 段抜き */
    column-span: all;
    /* フォント */
    font-family: "游ゴシック", "YuGothic", sans-serif;
    font-weight: normal;
    /* フォントサイズ */
    font-size: 1em;
    /* 字下げ */
    text-indent: 0;
    /* 直後の改ページ・改段禁止 */
    break-after: avoid;
    /* 右揃え */
    text-align: right;
}

hr {
    border: none;
    border-top: 1pt solid black;
    width: 6em;
    margin: calc((18pt - 1pt) / 2) auto; /* duplicate */
}

@-epubx-page-template {

    @-epubx-define {
        /* フォントサイズ */
        font-size: 10.5pt;
        /* 行送り */
        body-line-height: 18pt;
        /* 段幅 */
        column-width: 20em;
        /* 段間 */
        column-gap: 2em;
        /* 基本版面の天からの距離 */
        page-margin-top: 17mm;
        /* 基本版面の小口からの距離 */
        /* Adaptive Layoutには元々右ページ・左ページを区別する方法がない */
        page-margin-outside: 20mm;

        /* h1 */
        /* 行取り */
        h1-lines: 3;
        /* 行送り */
        h1-line-height: 2em;
        h1-block-size: -epubx-expr(body-line-height * h1-lines);
        h1-padding: -epubx-expr((h1-block-size - h1-line-height) / 2);

        /* h2.author */
        /* 行取り */
        h2-author-lines: 1;
        /* 行送り */
        h2-author-line-height: -epubx-expr(body-line-height);
        h2-author-block-size: -epubx-expr(body-line-height * h2-author-lines);
        h2-author-padding: -epubx-expr((h2-author-block-size - h2-author-line-height) / 2);

        /* hr */
        hr-line-width: 1pt;
    }

    html {
        font-size: -epubx-expr(font-size);
        line-height: -epubx-expr(body-line-height);
        column-width: -epubx-expr(column-width);
        column-gap: -epubx-expr(column-gap);
    }

    @page {
        margin-top: -epubx-expr(page-margin-top);
        margin-bottom: -epubx-expr(page-margin-top);
        margin-left: -epubx-expr(page-margin-outside);
        margin-right: -epubx-expr(page-margin-outside);
    }

    h1 {
        height: -epubx-expr(h1-block-size - h1-padding);
        line-height: 1em;
        padding-top: -epubx-expr(h1-padding);
    }

    h2.author {
        height: -epubx-expr(h2-author-block-size - h2-author-padding);
        line-height: -epubx-expr(h2-author-line-height);
        padding-top: -epubx-expr(h2-author-padding);
    }

    hr {
        margin-top: -epubx-expr((body-line-height - hr-line-width) / 2);
        margin-bottom: -epubx-expr((body-line-height - hr-line-width) / 2);
        margin-left: auto;
        margin-right: auto;
    }

}
