@charset "UTF-8";
html {
  /* writing mode */
  writing-mode: horizontal-tb; }

/* reset */
* {
  margin: 0;
  padding: 0; }

header, footer, section, figure, aside {
  display: block; }

body {
  counter-reset: sectno; }

body > section {
  page-break-before: always;
  page-break-after: always;
  counter-increment: sectno; }

@page {
  size: 210mm 148mm;
  margin-top: 15mm;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  /* The followings are inherited to page-margin boxes */
  font-family: "Avenir Next", "Open Sans", "Roboto", "Verdana", "YuGothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 0.6em;
  line-height: 1.5;
  vertical-align: bottom;
  @top-right {
    content: "Vivliostyle";
    margin-top: 5mm;
    margin-bottom: 3mm;
    margin-right: 15mm; }
  @top-left {
    font-size: 0.6em;
    margin-top: 5mm;
    margin-bottom: 3mm;
    margin-left: 15mm; } }

/* 表紙フォーマットスタイル */
body.cover {
  background-color: #0b6bb1;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../img/cover-bg.png);
  background-size: contain; }

/* コンテンツページ・目次フォーマットスタイル */
body.contents, body.toc {
  background-repeat: no-repeat;
  background-position: center bottom;
  background-image: url(../img/footer-bg.png);
  background-size: contain; }

/* 各ページ余白 */
section {
  padding: 0 15mm 15mm 15mm; }

html {
  font-family: "Georgia", "YuMincho", "Hiragino Mincho ProN", serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; }

body {
  color: #444444; }

h1 {
  font-family: "Avenir Next", "Open Sans", "Roboto", "Verdana", "YuGothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-weight: bold;
  font-size: 2em;
  color: #222222;
  line-height: 1.5;
  margin-bottom: 1em;
  text-indent: 0;
  /* forbid page/column break after it */
  page-break-inside: avoid;
  page-break-after: avoid; }

section h1 {
  margin-top: 0; }

h2 {
  font-family: "Avenir Next", "Open Sans", "Roboto", "Verdana", "YuGothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  text-indent: 0;
  /* forbid page/column break after it */
  page-break-after: avoid;
  margin-top: 1.5em; }

h3 {
  font-family: "Avenir Next", "Open Sans", "Roboto", "Verdana", "YuGothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  font-size: 1.25em;
  margin-top: 1em; }

p {
  text-align: justify;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  margin-top: 1em; }

table p {
  text-align: left;
  margin-top: 0; }

table {
  margin-top: 1em; }

pre {
  font-family: "Source Code Pro", "Andale Mono", "Courier", "Courier New", "YuGothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", monospace;
  font-weight: bold;
  font-size: 0.8em;
  background-color: #f6f6f6;
  padding: 0.5em 1em;
  margin-top: 0.5em; }

ol {
  margin-top: 1em;
  counter-reset: li;
  list-style: none; }
  ol li {
    margin-left: 1.5em;
    text-indent: -2em; }
    ol li p {
      margin-top: 0;
      margin-left: 1.5em;
      text-indent: 0; }
  ol li:before {
    font-family: "Avenir Next", "Open Sans", "Roboto", "Verdana", "YuGothic", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
    display: inline-block;
    width: 1.5em;
    color: #666666;
    counter-increment: li;
    content: counter(li) ". ";
    text-align: right;
    margin-right: 0.5em; }

ul {
  margin-top: 1em; }
  ul li {
    margin-left: 1.5em;
    margin-top: 0.5em; }

address {
  font-style: normal; }

figure {
  margin-top: 1em; }

/* もとの指定 */
a {
  color: #068;
  background: none;
  text-decoration: none; }

rt {
  font-size: 50%; }

rt:lang(en) {
  font-size: 70%; }

small {
  font-size: 70%; }

.small {
  font-size: 70%; }

.small2 {
  font-size: 50%; }

.big {
  font-size: 130%; }

.smaller {
  font-size: 83.3%; }

.bigger {
  font-size: 120%; }

:lang(el), :lang(en) {
  font-family: Georgia, Times New Roman, serif; }

/* 表組の基本形 */
.border-simple {
  border-collapse: collapse; }
  .border-simple th, .border-simple td {
    box-sizing: border-box;
    border: 1px solid #e6e6e6;
    vertical-align: top;
    font-size: 12px;
    line-height: 1.5;
    padding: 4px; }
  .border-simple th {
    text-align: left;
    font-weight: bold;
    background-color: #f6f6f6; }

/* セルの改行抑止 */
.nobr {
  white-space: nowrap; }

/* センタリング */
.ct {
  text-align: center; }

/* float解除 */
.cl {
  overflow: hidden; }

/* 右まわりこみ */
.rs {
  float: right;
  margin: 0 0 1em 1em; }

/* 左まわりこみ */
.ls {
  float: left;
  margin: 0 1em 1em 0; }

/* 改ページ */
.pb {
  page-break-before: always; }
  .pb h2 {
    margin-top: 0; }

/* 目次の指定 */
.toc ol li {
  line-height: 2.5em;
  border-bottom: 1px dotted #cccccc; }
  .toc ol li a {
    text-decoration: none; }

.toc ol li:first-child {
  border-top: 1px dotted #cccccc; }

/* 表紙の指定 */
.cover {
  color: #fff; }
  .cover section {
    text-align: center; }
    .cover section h1 {
      font-size: 2.5em;
      text-align: center;
      color: #fff;
      margin-top: 1em;
      margin-bottom: 0; }
    .cover section h2 {
      font-size: 1.25em;
      text-align: center;
      margin-top: 0.5em; }
    .cover section p, .cover section time, .cover section address {
      text-align: center; }
    .cover section time {
      display: block;
      margin-top: 2em; }

/* もとの指定 */
em.kenten {
  -webkit-text-emphasis: sesame;
  -ms-text-emphasis: sesame;
  -moz-text-emphasis: sesame;
  text-emphasis: sesame;
  font-style: normal; }

.vert {
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl; }
  .vert h2 {
    margin-top: 0;
    margin-left: 1em; }

.horiz {
  -ms-writing-mode: lr-tb;
  -webkit-writing-mode: horizontal-tb;
  writing-mode: horizontal-tb; }

.float {
  float: right; }

figure {
  text-align: center; }

figure > img, figure > a > img {
  max-width: 100%;
  max-height: 22em; }

.multicol {
  -webkit-column-width: 12em;
  -moz-column-width: 12em;
       column-width: 12em; }

section.vert {
  width: 100%; }

aside.vert {
  float: right; }

pre.sample {
  padding: .5em;
  margin: .5em;
  background: #eeeeee; }



/******** 追加 @shinyu ***********/

html {
  font-size: 100%; /* 可変になるように */
}

body > h1 {
  page-break-before: always;
  page-break-after: always;
  counter-increment: sectno;

  padding: 30mm 15mm 15mm 15mm;

  font-size: 3em;

}
