/**********
 * User Stylesheet for W3C TR specs and related documents (EDs...)
 * to be used with Vivliostyle.
 */

/***** structure *****/
html {
	margin: 0 !important;
	padding: 0 !important
}
body {
	padding: 0 !important;
}
@page:left {
	margin: 10% 10% 10% 14%!important;
}
@page:right {
	margin: 10% 14% 10% 10%!important;
}
@page:first {
	margin: 10% 10% 10% 14%!important;
}


.navbar {
	display: none;
}

/***** page decoration *****/
@page {
	font-size: small;
}
@page :left {
	@bottom-left-corner { content: counter(page); }
}
@page :right {
	@bottom-right-corner { content: counter(page); }
}
@page :blank {
	@bottom-left-corner { content: none; }
	@bottom-right-corner { content: none; }
	@bottom-center {
		content: "page intentionally left blank";
		font-size: medium;
		font-style: italic;
	}
}

/***** Adjustments to look prettier *****/
a.self-link {
	border-bottom: none !important;
}

table {
	overflow-wrap: normal !important;
	word-wrap: normal !important;
}
table th {
	hyphens: none !important;
}
table.index td {
	word-break: keep-all;
	hyphens: none !important;
}

pre {
	overflow-wrap: normal !important;
	word-wrap: normal !important;
}

hr:not(table hr) {
	border: transparent solid 0 !important;
	background: transparent;
}
hr+h1, hr+h2, hr+h3, hr+h4, hr+h5, hr+h6 {
	break-before: page;
}
/* ancient spec specific */
table hr { break-after: avoid; }
/* end ancient spec specific */

/***** pagination tweaks *****/
hr[title="Separator for header"] {
	display: none;
}

h1, h2, h3, h4, h5, h6 {
	break-inside: avoid;
	break-after: avoid;
}
dd, .head .copyright {
	break-before: avoid;
}

.head {
	break-after: page;
}

h1#toc, h2#toc, h3#toc, h4#toc, h5#toc, h6#toc {
	break-before: left;
}
section#toc, div#toc, nav#toc {
	break-before: left;
	break-after: left;
}
.toc:not(.toc .toc) {
	break-after: left;
}

/* CSS2 specific */
.subtoc {
	break-before: auto !important;
	break-after: auto !important;
}
/* end CSS2 specific */

#references, #index, #property-index, #issues-index {
	break-before: page;
}

.toc li:last-of-type, .toc li:first-of-type {
	break-before: avoid;
}
ul.index li > ul {
	break-before: avoid;
}
table caption { break-after: avoid; }

.note,
.example,
pre {
	break-inside: auto !important;
	widows: 3 !important;
	orphans: 3 !important;
}
.note::before,
.note a.self-link,
.example::before,
.example a.self-link,
.example-title,
.note-title,
pre::before,
.warning-title,
.blockTitleDiv,
.exampleHeader,
.noteHeader,
.note .prefix {
	break-after: avoid;
	break-inside: avoid;
}

/***** TOC & cross references *****/
.toc a[href] {
	display: flex !important;
	align-items: baseline;
	padding-left: 0 !important;
	padding-right: 0 !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.toc li:last-child, .toc li:first-child {
	break-before: avoid;
}
.toc a[href]::after {
	content: target-counter( attr(href,url), page);
	flex:none;
	order: 2;
	padding-left: 1ch;
	margin-left: auto;
	text-align: right;
	align-self: flex-end;
}
.toc a[href]::before {
	/* Simulate a leader */
	content: "";
	order: 1;
	flex: auto;
	margin-left: 1ch;
	border-bottom: solid 1px lightgrey;
}

/* Redo the indentation model of the TOC in a way that's compatible with flexbox */
:not(li) > .toc { margin-left: 0 !important; padding-left: 0 !important;}
.toc .secno {
	float: none !important;
	margin-left: 0 !important;
	display: inline-block;
	width: 5rem;
	flex: none;
}
.toc > li li li { margin-left: 0; }
.toc > li li li .secno { margin-right: 2rem; }
.toc > li li li li .secno { margin-right: 4rem; }
.toc > li li li li li .secno { margin-right: 6rem; }
@media (max-width: 40em) {
	.toc .secno                  { width: 4rem; }
	.toc > li li li .secno       { margin-right: 1rem; }
	.toc > li li li li .secno    { margin-right: 2rem; }
	.toc > li li li li li .secno { margin-right: 3rem; }
}

/***** Index & cross references *****/
ul.index a[href^="#"]::after {
	content: ", p.\00200a" target-counter( attr(href,url), page);
	color: black;
	border-bottom: solid 1px white;
}

/***** Dealing with large elements *****/
img, svg {
	max-width: 100%;
	max-height: 100vh;
	object-fit: contain;
}
table img {
	max-width: none;
}

figure, .figure {
	display: flex;
	flex-flow: column;
	align-items: center;
	/* not 100vh, to leave just a bit of room if the figure is in something that has a border */
	max-height: 95vh;
	max-height: calc(100vh - 6px); /* The thickest vertical border we have is 3px, and that's in case there's two of it */
}
figure > figcaption, .figure > .caption {
	flex: none;
	display: block;
}
figure > *, .figure > * {
	flex: auto;
	overflow: auto;
}
.figure > a,
figure > a {
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 0 !important;
	margin: 0 !important;
	border-bottom: none !important;
}

pre.ascii-art,
pre.output,
div.figure pre, div.sidefigure pre, figure pre {
	display: block !important;
	width: max-content;
	/* The next two lines wouldn't work if we were display: table */
	max-width: 100%;
	box-sizing: border-box;
	overflow: auto;
}

html { background: white !important; }

body,
pre,
.big-element-wrapper,
.overlarge {
	overflow: auto !important;
	background: left / 4em 100% linear-gradient(to right, white, white 1em, rgba(255,255,255,0)) local,
	            right / 4em 100% linear-gradient(to left, white, white 1em, rgba(255,255,255,0)) local,
	            left 1px center / 1.2em 90% radial-gradient(at left, rgba(0,0,0,.25), transparent 70%) scroll,
	            right 1px center / 1.2em 90% radial-gradient(at right, rgba(0,0,0,.25), transparent 70%) scroll
	            transparent !important;
	background-repeat:  no-repeat !important;
}
.example, .example pre:not(.example .note pre) {
	overflow: auto !important;
	background: left / 4em 100% linear-gradient(to right, #FCFAEE, #FCFAEE 1em, rgba(252,250,238,0)) local,
	            right / 4em 100% linear-gradient(to left, #FCFAEE, #FCFAEE 1em, rgba(252,250,238,0)) local,
	            left 1px center / 1.2em 90% radial-gradient(at left, rgba(0,0,0,.25), transparent 70%) scroll,
	            right 1px center / 1.2em 90% radial-gradient(at right, rgba(0,0,0,.25), transparent 70%) scroll
	            #FCFAEE !important;
	background-repeat:  no-repeat !important;
}
.note, .note pre:not(.note .example pre) {
	overflow: auto !important;
	background: left / 4em 100% linear-gradient(to right, #E9FBE9, #E9FBE9 1em, rgba(233,255,233,0)) local,
	            right / 4em 100% linear-gradient(to left, #E9FBE9, #E9FBE9 1em, rgba(233,255,233,0)) local,
	            left 1px center / 1.2em 90% radial-gradient(at left, rgba(0,0,0,.25), transparent 70%) scroll,
	            right 1px center / 1.2em 90% radial-gradient(at right, rgba(0,0,0,.25), transparent 70%) scroll
	            #E9FBE9 !important;
	background-repeat:  no-repeat !important;
}
pre.def.def.def.def {
	overflow: auto !important;
	background: left / 4em 100% linear-gradient(to right, #DEF, #DEF 1em, rgba(221,238,255,0)) local,
	            right / 4em 100% linear-gradient(to left, #DEF, #DEF 1em, rgba(221,238,255,0)) local,
	            left 1px center / 1.2em 90% radial-gradient(at left, rgba(0,0,0,.25), transparent 70%) scroll,
	            right 1px center / 1.2em 90% radial-gradient(at right, rgba(0,0,0,.25), transparent 70%) scroll
	            #DEF !important;
	background-repeat:  no-repeat !important;
}
pre.highlight.highlight.highlight.highlight {
	overflow: auto !important;
	background: left / 4em 100% linear-gradient(to right, hsl(24, 20%, 95%), hsl(24, 20%, 95%) 1em, rgba(244,241,239,0)) local,
	            right / 4em 100% linear-gradient(to left, hsl(24, 20%, 95%), hsl(24, 20%, 95%) 1em, rgba(244,241,239,0)) local,
	            left 1px center / 1.2em 90% radial-gradient(at left, rgba(0,0,0,.25), transparent 70%) scroll,
	            right 1px center / 1.2em 90% radial-gradient(at right, rgba(0,0,0,.25), transparent 70%) scroll
	            hsl(24, 20%, 95%) !important;
	background-repeat:  no-repeat !important;
}

/* Web-IDL spec specific */
.block > .blockContent > pre.code {
	overflow: auto !important;
	background: left / 4em 100% linear-gradient(to right, #f0f6ff, #f0f6ff 1em, rgba(240,246,255,0)) local,
	            right / 4em 100% linear-gradient(to left, #f0f6ff, #f0f6ff 1em, rgba(240,246,255,0)) local,
	            left 1px center / 1.2em 90% radial-gradient(at left, rgba(0,0,0,.25), transparent 70%) scroll,
	            right 1px center / 1.2em 90% radial-gradient(at right, rgba(0,0,0,.25), transparent 70%) scroll
	            transparent !important;
	background-repeat:  no-repeat !important;
}
pre.syntax {
	overflow: auto !important;
	background: left / 4em 100% linear-gradient(to right, #ddffdd, #ddffdd 1em, rgba(221,255,221,0)) local,
	            right / 4em 100% linear-gradient(to left, #ddffdd, #ddffdd 1em, rgba(221,255,221,0)) local,
	            left 1px center / 1.2em 90% radial-gradient(at left, rgba(0,0,0,.25), transparent 70%) scroll,
	            right 1px center / 1.2em 90% radial-gradient(at right, rgba(0,0,0,.25), transparent 70%) scroll
	            #ddffdd !important;
	background-repeat:  no-repeat !important;
}
/* end Web-IDL spec specific */

@media (overflow-inline: none) {
	/* On screen, dealing with a scrollbar is fine,
	 * but when printing, we need something more drastic.
	 * This media query isn't really the right one,
	 * since we're not actually overflowing the viewport
	 * but it is a good proxy for what we want:
	 * are we in a mode where scrolling makes sense or not. */
	pre, pre.def, .example > pre, .note > pre,
	.block > .blockContent > pre.code, pre.syntax {
		overflow: visible !important;
		white-space: pre-wrap;
		overflow-wrap: break-word !important;
		word-wrap: break-word !important;
	}
	pre.ascii-art {
		/* This is going to overflow and that's ugly,
		   but ascii-art cannot be wrapped */
		display: table !important;
		white-space: pre !important;
	}
	.big-element-wrapper,
	.overlarge,
        .note,
	.example {
		overflow: visible;
	}
	table {
		overflow-wrap: break-word; !important;
		word-wrap: break-word; !important;
	}
	table th {
		hyphens: manual !important;
	}
	table.index td {
		word-break: normal;
		hyphens: manual !important;
	}
}

.big-element-wrapper > table,
.overlarge > table {
	/* limit preferred width of table */
	max-width: 50em;
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 40em) {
	table.index tbody th {
		writing-mode: sideways-lr;
	}
}

/***** Bug fixes *****/
a.self-link {
	left: -epubx-expr(-1 * (3.5rem - 26px));
	width: -epubx-expr(3.5rem - 26px);
}
li > a.self-link {
	left: -epubx-expr(-1 * (3.5rem - 26px) - 2em);
}
body {
	padding: 1.6em 1.5em 2em -epubx-expr(26px + 1.5em);
}
