@media print {
    body {
        /* workaround for Chrome calculating page height incorrectly */
        max-height: 100%;
    }
    body > div {
        display: block !important;
        /* workaround for Chrome calculating page height incorrectly */
        max-height: 100%;
        overflow: hidden;
    }
}

@media screen {
    html {
        background: #AAAAAA;
    }
    body {
        background: white;
    }
}
