@charset "utf-8";

@import "./lib/_mixins";
@import "./lib/_vars";

@import "~font-awesome/scss/_variables";
@include at-font-face(
  "FontAwesome",
  "../fonts/fontawesome-webfont",
  "#fontawesomeregular"
);
// ================================================================================
// + Text Selection Menu
// --------------------------------------------------------------------------------

#vivliostyle-text-selection-edit-menu {
  position: absolute;
  z-index: 88888889;
  background: #333;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #ddd;
  border-radius: 0.5em;
  padding: 0.2em;
  text-align: center;
  .mark-color {
    height: 1.5em;
    width: 1.5em;
    margin: 0.2em;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #bbb;
    opacity: 0.5;
    &:hover {
      filter: drop-shadow(0 0 0.1em);
      opacity: 1;
    }
  }
  .selected-color {
    opacity: 1;
    border: 2px solid #ccc;
  }

  .red {
    background-color: #e00;
  }
  .green {
    background-color: #0e0;
  }
  .yellow {
    background-color: #ffd900;
  }
  section {
    padding: 0.1em 0;
    white-space: nowrap;
  }
  #vivliostyle-memo-edit-area {
    font-family: inherit;
  }
  .button {
    padding: 0.3em;
    border-radius: 0.3em;
    color: white;
    &:before {
      @include font-icon("FontAwesome");
      padding-right: 0.5em;
    }
    &:hover {
      color: black;
      background-color: #a0a0a0;
    }
  }
  #selection-ok {
    cursor: pointer;
    &:before {
      content: "\F00C";
    }
  }
  #selection-cancel {
    cursor: pointer;
    &:before {
      content: "\F00D";
    }
  }
  #selection-delete {
    cursor: pointer;
    &:before {
      content: "\f1f8";
    }
  }
}
