@charset "utf-8";

@import "./lib/_mixins";
@import "./lib/_vars";

@import "~font-awesome/scss/_variables";
@include at-font-face(
  "FontAwesome",
  "../fonts/fontawesome-webfont",
  "#fontawesomeregular"
);
// ================================================================================
// + Text Selection Menu
// --------------------------------------------------------------------------------

#vivliostyle-text-selection-menu,
#vivliostyle-text-selection-edit-menu {
  position: absolute;
  z-index: 88888889;
  background: #e0e0e0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 4px 4px;
  padding: 0.2em;
  > .mark-color {
    height: 1.5em;
    width: 1.5em;
    margin: 0.2em;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #444;
    &:hover {
      opacity: 0.2;
    }
  }
  > .red {
    background-color: #e00;
  }
  > .green {
    background-color: #0e0;
  }
  > .yellow {
    background-color: #ffd900;
  }
}
