/*
 * Copyright 2015 Trim-marks Inc.
 * Copyright 2019 Vivliostyle Foundation
 */

@charset "utf-8";

@import "./lib/_mixins";
@import "./lib/_vars";

html[data-vivliostyle-paginated] {
  &,
  & body {
    margin: 0;
    padding: 0;
  }
}

@media print {
  html[data-vivliostyle-paginated] {
    height: 100%;
    width: 100%;

    body > * {
      display: none;
    }

    [data-vivliostyle-viewer-viewport] {
      display: block;
    }

    body,
    [data-vivliostyle-viewer-viewport] {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

@media screen {
  html[data-vivliostyle-paginated] {
    body {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

// - Welcome page
// --------------------------------------------------------------------------------

#vivliostyle-welcome {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow: auto;
  box-sizing: border-box;
  max-width: 60rem;
  padding: 4px 16px;
  margin-top: $menu-icon-height;
  background: #f0f0f0;
  font-family: $sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;

  > h1 {
    font-size: 1.75rem;
    font-weight: 100;
    line-height: 1.1;
    padding: 0 2px;
    margin: 1rem 0;

    > small {
      font-size: 0.75rem;
      font-weight: 300;
      display: inline-block;
    }
  }

  > #vivliostyle-input-url {
    font-size: 1rem;
    background: white;
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 4px;
    border: 2px solid #808080;
    border-radius: 6px;
  }

  > #vivliostyle-input-options {
    line-height: 2;
    margin: 0.5em 0 1em;

    > button {
      margin: 0 2px;
      padding: 5px 7px;
      line-height: 1em;
      font-size: 12px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  p {
    margin: 0.5em 0;
  }

  ul,
  ol {
    margin-top: 0;
    padding-left: 2em;
  }

  a {
    color: rgb(128, 128, 128);

    > strong {
      font-size: 1.25em;
      font-weight: 400;
    }
  }

  b {
    font-weight: bold;
    white-space: nowrap;
  }
}
