@charset "utf-8";

@import "compass";

@import "./lib/_mixins";

@import "../../../node_modules/font-awesome/scss/_variables";
@include at-font-face("FontAwesome", "../fonts/fontawesome-webfont", "#fontawesomeregular");

$button-size: 40px;
$button-offset: 5px;

#vivliostyle-page-navigation-up,
#vivliostyle-page-navigation-down,
#vivliostyle-page-navigation-left,
#vivliostyle-page-navigation-right {
	position: absolute;
	margin: 0;
	color: transparent;
	background: transparent;
	cursor: pointer;
	opacity: 0;
	z-index: 1000;
	[data-vivliostyle-viewer-status="loading"] & {
		opacity: 0;
	}
	[data-vivliostyle-viewer-status="complete"] & {
		opacity: .2;
		@include transition(.25s ease-out);
	}
	&[data-vivliostyle-ui-state="attention"] {
		opacity: 1.0;
		@include transition(.25s ease-in);
	}
	&:hover {
		opacity: 1;
		@include transition(.1s linear !important);
	}
	&:active {
		opacity: .5;
		@include transition(.1s linear !important);
	}
	&:before, &:after {
		@include box-sizing(content-box);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border-radius: 50%;
	}
	&:before {
		content: "";
		width: $button-size;
		height: $button-size;
		border: solid .2em white;
		background: black;
	}
	&:after {
		width: $button-size * .8;
		height: $button-size * .8;
		font-size: $button-size * .5;
		line-height: 1.55;
		text-align: center;
		vertical-align: middle;
		color: black;
		background: white;
		@include font-icon("FontAwesome");
	}
}

#vivliostyle-page-navigation-up,
#vivliostyle-page-navigation-down {
	left: 0;
	right: 0;
	width: 100%;
	height: $button-size + $button-offset * 2;
}
#vivliostyle-page-navigation-up {
	top: 0;
	&:after {
		content: $fa-var-arrow-up;
	}
	&:hover {
		cursor: n-resize;
	}
}
#vivliostyle-page-navigation-down {
	bottom: 0;
	cursor: s-resize;
	&:after {
		content: $fa-var-arrow-down;
	}
}

#vivliostyle-page-navigation-left,
#vivliostyle-page-navigation-right {
	top: 0;
	bottom: 0;
	width: $button-size + $button-offset * 2;
	height: 100%;
}
#vivliostyle-page-navigation-left {
	left: 0;
	cursor: w-resize;
	&:after {
		content: $fa-var-arrow-left;
	}
}
#vivliostyle-page-navigation-right {
	right: 0;
	cursor: e-resize;
	&:after {
		content: $fa-var-arrow-right;
		text-indent: .125em;
	}
}