/*
 * Copyright 2015 Vivliostyle Inc.
 */
html[data-vivliostyle-paginated] {
    text-rendering: geometricPrecision;
}

html[data-vivliostyle-paginated], html[data-vivliostyle-paginated] body {
    margin: 0;
    padding: 0;
}

@media print {
    html[data-vivliostyle-paginated] {
        height: 100%;
        width: 100%;
    }
    html[data-vivliostyle-paginated] > body {
        /* workaround for Chrome calculating page height incorrectly */
        max-height: 100%;
        height: 100% !important;
        min-width: 100%;
    }
    html[data-vivliostyle-paginated] > body > div {
        display: block !important;
        /* workaround for Chrome calculating page height incorrectly */
        max-height: 100%;
        height: 100% !important;
        overflow: hidden;
    }
    html[data-vivliostyle-paginated] > body > div > div {
        max-height: 100%;
        height: 100% !important;
    }
}

@media screen {
    html[data-vivliostyle-paginated] {
        background: #AAAAAA;
    }
    html[data-vivliostyle-paginated] > body > div > div {
        background: white;
    }
}
