@charset "UTF-8";

$base-font-family: 'Georgia', 'YuMincho', 'Hiragino Mincho ProN', serif;
$heading-font-family: 'Avenir Next', 'Open Sans', 'Roboto', 'Verdana', 'YuGothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;
$pre-font-family: 'Source Code Pro', 'Andale Mono', 'Courier', 'Courier New', 'YuGothic', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Meiryo', monospace;
$base-font-size: 16px;
$base-line-height: 1.5;

// page format definition
@import 'base/format';
// typography style definition
@import 'base/typography';
// contents style definition
@import 'base/contents';
