@import url('style.css');

@page {
	size: auto;
	font-size: 0.8rem;
}
@page :right {
  @top-right {
    margin-right: 0.5em;
  }
  @bottom-right {
    margin-right: 0.5em;
  }
}
@page :left {
  @top-left {
    margin-left: 0.5em;
  }
  @bottom-left {
    margin-left: 0.5em;
  }
}

html {
	columns: 12em;
	font-size: 0.8333em;
	line-height: 1.8em;
}
h1 {
	font-size: 2rem;
	line-height: 4.8rem;
}
h2 {
	font-size: 1.2rem;
	line-height: 3.225rem;
	margin-right: 1.8rem;
}
.author {
  line-height: 2.4rem;
}
.note {
  font-size: 0.9rem;
  line-height: 1.5rem;
  }
.linespace {
  margin: 0 4.4rem 0 0;
}
.bibliographical_information {
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin-right: 4.4rem;
}
.topimg {
  float: none;
  height: auto;
  width: auto;
}
.topimg img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
.figure {
  width: 18em;
  margin-left: 1.8em;
  margin-right: 1.8em;
  display: flex;
}
.figure img {
  height: auto;
  max-height: 100%;
  max-width: 100%;
  margin: auto;
}
.heading {
  break-inside: avoid;
}
