@charset "utf-8";

@import "compass";

@import "./lib/_mixins";

@import "../../node_modules/font-awesome/scss/_variables";
@include at-font-face("FontAwesome", "../fonts/fontawesome-webfont", "#fontawesomeregular");

$button-size: 36px;
$button-offset: 0;

#vivliostyle-page-navigation-up,
#vivliostyle-page-navigation-down,
#vivliostyle-page-navigation-left,
#vivliostyle-page-navigation-right {
	position: absolute;
	margin: 0;
	color: transparent;
	background: transparent;
	cursor: pointer;
	z-index: 1000;
	color: rgba(255, 255, 255, 0.00);
	background: rgba(0, 0, 0, 0.00);
	&.vivliostyle-menu-enabled {
		color: rgba(0, 0, 0, 0.50);
		background: rgba(0, 0, 0, 0.00);
		@include transition(.25s ease-out);
	}
	&[data-vivliostyle-ui-state="attention"] {
		color: rgba(255, 255, 255, 0.75);
		background: rgba(0, 0, 0, 0.25);
		@include transition(.25s ease-in);
	}
	&:hover {
		color: rgba(255, 255, 255, 0.75);
		background: rgba(0, 0, 0, 0.25);
		@include transition(.1s linear !important);
	}
	&:active {
		color: rgba(255, 255, 255, 1.00);
		background: rgba(0, 0, 0, 0.50);
		@include transition(.1s linear !important);
	}
	&:after {
		@include box-sizing(content-box);
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		border-radius: 50%;
		width: $button-size * .6;
		height: $button-size * .6;
		font-size: $button-size * .64;
		line-height: 1;
		text-align: center;
		vertical-align: middle;
		@include font-icon("FontAwesome");
	}
}

#vivliostyle-page-navigation-up,
#vivliostyle-page-navigation-down {
	left: 0;
	right: 0;
	width: 100%;
	height: ($button-size + $button-offset * 2) * 1.0;
}
#vivliostyle-page-navigation-up {
	top: 0;
	&:after {
		content: $fa-var-arrow-circle-up;
	}
	&:hover {
		cursor: n-resize;
	}
}
#vivliostyle-page-navigation-down {
	bottom: 0;
	cursor: s-resize;
	&:after {
		content: $fa-var-arrow-circle-down;
	}
}

#vivliostyle-page-navigation-left,
#vivliostyle-page-navigation-right {
	top: 0;
	bottom: 0;
	width: ($button-size + $button-offset * 2) * 1.0;
	height: 100%;
}
#vivliostyle-page-navigation-left {
	left: 0;
	cursor: w-resize;
	&:after {
		content: $fa-var-arrow-circle-left;
	}
}
#vivliostyle-page-navigation-right {
	right: 0;
	cursor: e-resize;
	&:after {
		content: $fa-var-arrow-circle-right;
		text-indent: .125em;
	}
}