@charset "utf-8";

@import "compass";

@import "./lib/_mixins";
@import "./lib/_vars";

@import "../../node_modules/font-awesome/scss/_variables";
@include at-font-face("FontAwesome", "../fonts/fontawesome-webfont", "#fontawesomeregular");




// ================================================================================
// + Setting
// --------------------------------------------------------------------------------

// - Animation
// --------------------------------------------------------------------------------

@keyframes GLOW {
	  0% { opacity: 0.50; }
	 25% { opacity: 0.25; }
	 50% { opacity: 0.50; }
	 75% { opacity: 0.75; }
	100% { opacity: 0.50; }
}
$animation-GLOW: GLOW 1s linear 0s infinite normal;

@keyframes FLIP {
	  0.0% { transform: rotateY(  0deg); opacity: 1.00; }
	 12.5% { transform: rotateY( 90deg); opacity: 0.75; }
	 25.0%,
	 50.0% { transform: rotateY(180deg); opacity: 1.00; -webkit-filter: grayscale(100%); filter: grayscale(100%); }
	 62.5% { transform: rotateY(270deg); opacity: 0.75; }
	 75.0%,
	100.0% { transform: rotateY(360deg); opacity: 1.00; }
}
$animation-FLIP: FLIP 2s ease 0s infinite normal;



// ================================================================================
// + Menu-Bar
// --------------------------------------------------------------------------------


#vivliostyle-menu-bar {
	@include box-sizing(border-box);
	position: fixed;
	z-index: 88888888;
	left: 0;
	top: 0;
	width: 100vw;
	height: $menu-icon-height;
	font-family: $sans-serif;
	font-size: 14px;
	line-height: 1;
	color: white;
	background: black;
	@include box-shadow($menu-box-shadow);
	-webkit-font-smoothing: subpixel-antialiased;
	-webkit-text-size-adjust: 100%;
	* {
		margin: 0;
		padding: 0;
		border: none 0;
	}
	ul {
		li {
			list-style: none outside;
			display: block;
		}
	}
	&:before,
	&:after {
		position: absolute;
		z-index: 1;
		right: 0;
		top: $menu-icon-height * 0.5 * 0.6;
		width: 100%;
		height: $menu-icon-height * 0.5;
		text-align: center;
		transition: linear .2s;
		@media screen and (max-width: 824px) {
			right: $menu-icon-width + $menu-icon-offset-x * 4;
			width: 362px / (80px / ($menu-icon-height * 0.5));
			text-align: right;
		}
		@media screen and (max-width: 512px) {
			animation: none !important;
			opacity: 0 !important;
		}
	}
	&:before {
		content: "";
		background: transparent no-repeat center center $vivliostyle-logo-type;
		background-size: contain;
		opacity: 1;
	}
}


// - Menu-Bar > Menu & Menu-Item
// --------------------------------------------------------------------------------

#vivliostyle-menu-bar {
	ul.vivliostyle-menu {
		position: relative;
		z-index: 10;
		float: left;
		padding-right: 1px;
		background: rgba(0,0,0,0.4);
		&:before {
			content: "";
			display: block;
			position: absolute;
			right: 0;
			top: 1px;
			width: 1px;
			height: $menu-icon-height - 2px;
			background: rgb(64,64,64);
		}
		//&:first-child/*, &#vivliostyle-menu_misc*/ { padding-left: 0; &:before { display: none; } }
		&#vivliostyle-menu_misc { position: absolute; right: 0; }
		li.vivliostyle-menu-item {
			display: table-cell;
			position: relative;
			width: $menu-icon-width;
			height: $menu-icon-height;
			>.vivliostyle-menu-icon-button, >.vivliostyle-menu-icon-button:before, >.vivliostyle-menu-icon-button:after {
				@include box-sizing(border-box);
				display: block;
				position: absolute;
			}
			>.vivliostyle-menu-icon-button {
				left: $menu-icon-offset-x;
				top: $menu-icon-offset-y;
				width: $menu-icon-width - $menu-icon-offset-x * 2;
				height: $menu-icon-height - $menu-icon-offset-y * 2;
				border-radius: 2px;
				color: transparent;
				cursor: pointer;
				&, &:before, &:after {
					@include transition(linear .1s);
				}
				&:before, &:after {
					color: white;
				}
				&:before {
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					line-height: $menu-icon-height - $menu-icon-offset-y * 2;
					font-size: $menu-icon-height * 0.45;
					text-align: center;
					@include font-icon("FontAwesome");
				}
				&:after {
					width: 1em;
					height: 1em;
					line-height: $menu-icon-height * 0.25;
					text-align: center;
					font-family: Verdana;
					font-size: $menu-icon-height * 0.25;
					//font-weight: bold;
				}
				&.hover  { &:before, &:after { color: black; } background: rgba(255,255,255,0.75); }
				&.active { &:before, &:after { color: black; } background: rgba(255,255,255,1); }
			}
			&.vivliostyle-menu-item_detail-opened >span {
				&:before, &:after            { color: black; } background: rgba(255,255,255,1);
				&.hover  { &:before, &:after { color: black; } background: rgba(255,255,255,0.75); }
				&.active { &:before, &:after { color: white; } background: transparent; }
			}
			&.vivliostyle-menu-disabled >span {
				cursor: default;
				&:before, &:after { color: rgb(128,128,128) !important; } background: transparent !important;
			}
		}
	}
}


// - Menu-Bar > Menu > Menu-Item (Variation)
// --------------------------------------------------------------------------------

#vivliostyle-menu-bar {
	ul.vivliostyle-menu {
		li.vivliostyle-menu-item {
		//	&#vivliostyle-menu-item_move-left         >.vivliostyle-menu-icon-button:before { content: $fa-var-arrow-left; }
			&#vivliostyle-menu-item_move-first            >.vivliostyle-menu-icon-button:before { content: $fa-var-chevron-up; }
			&#vivliostyle-menu-item_move-previous         >.vivliostyle-menu-icon-button:before { content: $fa-var-chevron-up; }
		//	&#vivliostyle-menu-item_move-right        >.vivliostyle-menu-icon-button:before { content: $fa-var-arrow-right; }
			&#vivliostyle-menu-item_move-next             >.vivliostyle-menu-icon-button:before { content: $fa-var-chevron-down; }
			&#vivliostyle-menu-item_move-last             >.vivliostyle-menu-icon-button:before { content: $fa-var-chevron-down; }
			&#vivliostyle-menu-item_zoom-out              >.vivliostyle-menu-icon-button:before { content: $fa-var-search-minus; }
		//	&#vivliostyle-menu-item_zoom-default      >.vivliostyle-menu-icon-button:before { content: $fa-var-search; }
			&#vivliostyle-menu-item_zoom-fit-to-screen    >.vivliostyle-menu-icon-button:before { content: $fa-var-arrows-alt/*$fa-var-search*/; top: .05em; /*font-size: $menu-icon-height * 0.36;*/ }
			&#vivliostyle-menu-item_zoom-in               >.vivliostyle-menu-icon-button:before { content: $fa-var-search-plus; }
			&#vivliostyle-menu-item_zoom-to-actual-size   >.vivliostyle-menu-icon-button:before { content: $fa-var-search; }
			&#vivliostyle-menu-item_text-size-smaller     >.vivliostyle-menu-icon-button:before { content: $fa-var-font; }
			&#vivliostyle-menu-item_text-size-default     >.vivliostyle-menu-icon-button:before { content: $fa-var-font; }
			&#vivliostyle-menu-item_text-size-larger      >.vivliostyle-menu-icon-button:before { content: $fa-var-font; }
			&#vivliostyle-menu-item_move-first            >.vivliostyle-menu-icon-button:after  { content: ""; border-top: solid 2px; top: 8px; left: 8px; width: 16px; }
			&#vivliostyle-menu-item_move-last             >.vivliostyle-menu-icon-button:after  { content: ""; border-bottom: solid 2px; bottom: 7px; left: 8px; width: 16px; }

			&#vivliostyle-menu-item_page-number >#vivliostyle-page-number {
				color: inherit;
				background-color: #444;
				font: inherit;
				text-align: right;
				white-space: pre;
				position: absolute;
				top: 8px;
				width: 32px;
				height: 20px;
			}
			&#vivliostyle-menu-item_total-pages >#vivliostyle-total-pages {
				text-align: left;
				white-space: pre;
				position: absolute;
				top: 13px;
				font-size: 85%;

				&::before {
					content: "/\A0";
				}
			}

		//	&#vivliostyle-menu-item_zoom-default      >.vivliostyle-menu-icon-button:after  { content: "="; left: $menu-icon-width * 0.2625; top: $menu-icon-height * 0.2; }
		//	&#vivliostyle-menu-item_zoom-default      >.vivliostyle-menu-icon-button:after  { content: ""; border: solid 1px; border-radius: 2px; width: 2.1em; height: 2.1em; left: $menu-icon-width * 0.17; top: $menu-icon-height * 0.18; }
			&#vivliostyle-menu-item_zoom-to-actual-size   >.vivliostyle-menu-icon-button:after  { content: "1"; left: calc(46% - 1em / 2); top: $menu-icon-height * 0.297; font-size: $menu-icon-height * 0.22;}
			&#vivliostyle-menu-item_text-size-smaller     >.vivliostyle-menu-icon-button:after  { content: "-"; }
			&#vivliostyle-menu-item_text-size-default     >.vivliostyle-menu-icon-button:after  { content: "=" }
			&#vivliostyle-menu-item_text-size-larger      >.vivliostyle-menu-icon-button:after  { content: "+"; }
			&#vivliostyle-menu-item_text-size-smaller     >.vivliostyle-menu-icon-button:after,
			&#vivliostyle-menu-item_text-size-default     >.vivliostyle-menu-icon-button:after,
			&#vivliostyle-menu-item_text-size-larger      >.vivliostyle-menu-icon-button:after  {               right: $menu-icon-width * 0.01; top: $menu-icon-height * 0.15; }
		//	&#vivliostyle-menu-item_misc-toggle       >.vivliostyle-menu-icon-button:before { content: $fa-var-bars; }
		//	&#vivliostyle-menu-item_misc-toggle.vivliostyle-menu-item_detail-opened >.vivliostyle-menu-icon-button:before { content: $fa-var-times; }
			&#vivliostyle-menu-item_zoom-fit-to-screen.on {
				>.vivliostyle-menu-icon-button {
					&:before, &:after { color: black; }
					background: rgba(255,255,255,0.55);
					&.hover {
						background: rgba(255,255,255,0.75);
					}
				}
			}
			&#vivliostyle-menu-item_misc-toggle {
				>.vivliostyle-menu-icon-button {
					background-image: $vivliostyle-logo-mark;
					background-repeat: no-repeat;
					background-position: center center;
					background-size: contain;
					-webkit-filter: grayscale(0%); filter: grayscale(0%);
					@media (hover: hover), (-moz-touch-enabled: 0) {
						&:hover {
							opacity: 0.75;
							-webkit-filter: grayscale(50%); filter: grayscale(50%);
						}
					}
				}
			}
			&#vivliostyle-menu-item_misc-toggle.vivliostyle-menu-item_detail-opened {
				>.vivliostyle-menu-icon-button {
					-webkit-filter: grayscale(100%); filter: grayscale(100%);
				}
			}
		}
	}
}


// - Menu-Bar > Menu > Menu-Item > Menu-Detail
// --------------------------------------------------------------------------------

#vivliostyle-menu-bar {
	ul.vivliostyle-menu {
		li.vivliostyle-menu-item {
			.vivliostyle-menu-detail {
				@include box-sizing(border-box);
				display: none;
				position: fixed;
				right: 0;
				top: $menu-icon-height;
				padding: 0 2px;
				width: 100vw;
				max-width: 320px;
				height: calc(100% - #{$menu-icon-height});
				line-height: 1;
				color: $menu-fg-color; .vivliostyle-menu-disabled { color: $menu-disabled-fg-color; }
				background: $menu-bg-color;
				@include box-shadow($menu-box-shadow);
				input, select {
					display: inline-block;
				}
				input[type="text"] {
					width: 4em;
				}
				input[type="radio"]:checked + span,
				input[type="checkbox"]:checked + span {
					text-decoration: underline;
				}
				button,
				.vivliostyle-menu-button {
					display: inline-block;
					position: relative;
					@include box-sizing(border-box);
					padding: .6em 1.5em 0;
					border: solid 1px rgb(128,128,128);
					border-radius: 1.5em;
					height: 2.5em;
					line-height: 1em;
					font-size: 12px;
					font-weight: bold;
					cursor: pointer;
					&.vivliostyle-menu-button-positive {
						color: black;
						background: white;
					}
					&.vivliostyle-menu-button-negative {
						color: black;
						background: rgb(200,200,200);
					}
					&.hover {
						color: white !important;
						background: black !important;
						@include transition(.1s linear);
					}
					&.active {
						background: rgb(128,128,128) !important;
						@include transition(0 linear);
					}
					@include transition(.15s linear);
				}
				small {
					display: inline-block;
					font-size: .9em;
					//opacity: .9;
				}
				>.vivliostyle-menu-detail-main {
					overflow-y: auto;
					height: calc(100% - 2.5em * 12/14);
					font-size: 14px;
					-webkit-overflow-scrolling: touch;
					.vivliostyle-menu-detail-group {
						position: relative;
						.vivliostyle-menu-detail-group-heading {
							font-weight: bold;
						}
					}
					.vivliostyle-menu-detail-group-buttons {
						text-align: center;
						>div, >li {
							text-align: center;
						}
					}
					.vivliostyle-menu-detail-group-inline {
						>div, >li {
							display: inline-block;
							margin-left: 10px; &:first-child { margin-left: 0; }
						}
					}
					>.vivliostyle-menu-detail-group {
						border-top: solid 1px rgba(255,255,255,1);
						padding: 15px 8px;
						 &:first-child { border-top: none 0; }
						>.vivliostyle-menu-detail-group {
							font-size: .9em;
						}
						.vivliostyle-menu-detail-group {
							padding-left: 1.3em;
						}
						div.vivliostyle-menu-detail-group, fieldset.vivliostyle-menu-detail-group {
							margin-top: .8em;/*
							padding-left: 1.2em;
							&:before {
								content: "";
								display: block;
								position: absolute;
								left: .4em;
								top: .4em;
								border-radius: 50%;
								width: .25em;
								height: .25em;
								background: rgb(128,128,128);
							}*/
						}
						ul.vivliostyle-menu-detail-group {
							padding-bottom: .1em;
							&:before {
								content: "";
								display: block;
								position: absolute;
								left: .5em;
								top: 0;
								width: 1px;
								height: 100%;
								border-left: solid 1px rgb(160,160,160);
							}
							li {
								margin-top: .5em;
							}
						}
					}
				}
				>.vivliostyle-menu-detail-aside {
					@include box-sizing(border-box);
					position: absolute;
					left: 0;
					bottom: 0;
					border-top: solid 1px rgba(255,255,255,0.8);
					padding: .75em 10px;
					width: 100%;
					text-align: center;
					color: rgb(128,128,128);
					background: rgba(255,255,255,.75);
					font-size: 12px;
					line-height: 1.2;
					small {
						font-size: 10px;
						letter-spacing: -.05em;
					}
					a {
						color: rgb(128,128,128);
						text-decoration: none;
						border-bottom: solid 1px rgb(192,192,192);
						@include transition(linear .1s);
						@media (hover: hover), (-moz-touch-enabled: 0) {
							&:hover {
								color: black;
								border-bottom-color: black;
							}
						}
						small {
							letter-spacing: 0;
						}
					}
					>.version {
						margin-top: 0.3em;
						span {
							white-space: nowrap;
						}
					}
				}
			}
			&.vivliostyle-menu-item_detail-opened .vivliostyle-menu-detail { display: block; }
		}
	}
}



// ================================================================================
// + Viewer-Viewport
// --------------------------------------------------------------------------------

@media screen {
	#vivliostyle-viewer-viewport {
		margin-top: $menu-icon-height;
		height: calc(100vh - #{$menu-icon-height});
		width: 100vw;
	}
}
