/*
 * Copyright 2015 Trim-marks Inc.
 */
html[data-vivliostyle-paginated] {
    &, & body {
        margin: 0;
        padding: 0;
    }
}

@media print {
    html[data-vivliostyle-paginated] {
        height: 100%;
        width: 100%;

        body > * {
            display: none;
        }

        [data-vivliostyle-viewer-viewport] {
            display: block;
        }

        body, [data-vivliostyle-viewer-viewport]  {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

@media screen {
    html[data-vivliostyle-paginated] {
        body {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
