@page {
  size: 200px 200px;
  margin: 20px;

  @bottom-center {
    content: counter(page);
  }
}

html {
  font: 10px/20px monospace;
  widows: 1;
  orphans: 1;
}

body,
p,
section {
  margin: 0;
}

.line-box {
  inline-size: 10.1ch;
  word-break: break-all;
}

.page-number::after {
  content: " (page " target-counter(attr(href url), page) ")";
}

.target-text::after {
  content: target-text(attr(href url), content);
}

.filler + .filler {
  break-before: page;
}
