@charset "UTF-8";

// 基本フォントサイズ
$base-font-size: 8.5pt;
// 基本行送り
$base-line-height: 16pt;
// 基本フォントファミリー
$base-font-family: "游明朝", "YuMincho", serif;

// ページのスタイル定義
@import 'base/format';
// タイポグラフィのスタイル定義
@import 'base/typography';
// コンテンツのスタイル定義
@import 'base/contents';
